{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="app-content">
    <div class="content-wrapper">
		<!-- Page Header -->												
		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">CRM Dashboard</h1>
						</div>
						<p id="greeting"></p>

						<script>
							const now = new Date();
							const hour = now.getHours();
					
							let greeting;
					
							if (hour < 12) {
								greeting = "Good Morning";
							} else if (hour < 18) {
								greeting = "Good Afternoon";
							} else {
								greeting = "Good Evening";
							}
					
							document.getElementById("greeting").innerHTML = greeting + " {{request.user.first_name}}!";
						</script>
						
					</div>
					
				</div>
			</div>
		</div>	
		<div class="modal-content mt-5">
            <form action="{% url 'edit_expense' id=expense.id %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="expenseModal">Edit Expense</h5>
                </div>
                <div class="modal-body">                                                                        
                    <div class="row">
                        <div class="col-xxl-12 mb-xxl-0 mb-4">
                            <h6>Expense Title</h6>
                                <div class="form-group">
                                    <input type="text" class="form-control" name = "expense_title" value ="{{expense.expense_title}}" required>
                                </div>
                        </div>
                        <div class="col-xxl-6 mb-xxl-0 mb-4">
                            <h6>Expense Type</h6>
                                <div class="form-group">
                                    <select class="form-select" name="expense_type" required="">
                                        {% for expense_type in expense_type %}
                                        <option value="{{expense_type.id}}" {% if expense.expense_type.id == expense_type.id %} selected {% endif %}>{{expense_type.expense_type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>  
                        </div>
                        <div class="col-xxl-6 mb-xxl-0 mb-4">
                            <h6>Expense Amount</h6>
                            <input type="number" class="form-control" name = "expense_amount" value ="{{expense.expense_amount}}" required>
                        </div>

                        <div class="col-xxl-12 mb-xxl-0 mb-4">
                            <h6>Remarks</h6>
                                <div class="form-group">
                                    <textarea class="form-control" rows="6" id="message" placeholder="Write an internal note" name="expense_remarks"  autocomplete="off"></textarea>
                                    <script>
                                        var messageTextarea = document.getElementById("message");
                                        messageTextarea.value = "{{expense.remarks}}";
                                      </script>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
	
	</div>
</div>
{% include 'footer.html' %}