{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Company Details</h1>
                        <span>These details are visible in invoice and receipts.</span>
                    </div>
                    <div class="page-description-actions">
                        {% if 'create_finance' in permissions %}
                        <a href="{% url 'create_invoice' %}" class="btn btn-primary"><i class="material-icons">add</i>Create Invoice</a>
						{% endif %}
                        
                    </div>
                </div>
                
                <!-- add other contents  -->
				<div class="row">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="datatable1" class="display" style="width:100%">
									<thead>
										<tr>
											<th>Invoice</th>
											<th>Customer</th>
											<th>Issue Date</th>
											<th>Due Date</th>
											<th>Invoice Amount</th>
											<th>Created By</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for invoices in invoices %}
										<tr>
											<td><a href="#" class="table-link-text link-high-em">{{invoices.id}}</a></td>
											<td>{{ invoices.student.user.first_name|add:" " }}{{ invoices.student.user.last_name }}</td>
											<td>{{invoices.created}}</td>
											<td>{{invoices.created}}</td>
											<td>Rs. {{invoices.invoice_amount}}</td>
											<td>{{invoices.created_by}}</td>
											{% if 'read_finance' in permissions %}
											<td>
												<a  href="{% url 'view_invoice' id=invoices.id %}" class="btn btn-primary"><i class="material-icons">visibility</i></a>
											</td>
											{% else %}
											<td>---</td>
											{% endif %}
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
                
                



            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}