{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="app-content">
    <div class="content-wrapper">
		<!-- Page Header -->
        <div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">Invoices</h1>
							<!-- <span class="badge badge-soft-primary ms-3">Badge</span> -->
						</div>
						<p id="greeting"></p>

						<script>
							const now = new Date();
							const hour = now.getHours();
					
							let greeting;
					
							if (hour < 12) {
								greeting = "Good Morning";
							} else if (hour < 18) {
								greeting = "Good Afternoon";
							} else {
								greeting = "Good Evening";
							}
					
							document.getElementById("greeting").innerHTML = greeting + " {{request.user.first_name}}!";
						</script>
						
					</div>
					<div class="pg-header-action-wrap">
						{% if 'create_finance' in permissions %}
						<a href="{% url 'create_invoice' %}"><button class="btn btn-primary">Create Invoice</button></a>
						{% endif %}
					</div> 
				</div>
			</div>
		</div>
		<!-- /Page Header -->


		<!-- /Add other contents below -->
		<div class="invoice-body mt-3">
			<div class="row">
				<table id="datable_1" class="table nowrap w-100 mb-5">
					<thead>
						<tr>
							<th>Invoice</th>
							<th>Customer</th>
							<th>Issue Date</th>
							<th>Due Date</th>
							<th>Invoice Amount</th>
							<th>Created By</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for invoices in invoices %}
						<tr>
							<td><a href="#" class="table-link-text link-high-em">{{invoices.id}}</a></td>
							<td>{{invoices.customer}}</td>
							<td>{{invoices.created}}</td>
							<td>{{invoices.created}}</td>
							<td>Rs. {{invoices.invoice_amount}}</td>
							<td>{{invoices.created_by}}</td>
							{% if 'read_finance' in permissions %}
							<td>
								<a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" href="{% url 'view_invoice' id=invoices.id %}"><span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="eye"></i></span></span></a>
							</td>
							{% else %}
                            <td>---</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



{% include 'footer.html' %}