{% include 'header.html' %}


<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Company Details</h1>
                        <span>These details are visible in invoice and receipts.</span>
                    </div>
                    <div class="page-description-actions">
                        <a href="{% url 'create_receipt' %}" class="btn btn-primary"><i class="material-icons">add</i>Create Receipt</a>                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <table id="datatable1" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Receipt #</th>
                                    <th>Client Name</th>
                                    <th>Payment Method</th>
                                    <th>Paid Amount</th>
                                    <th>Created By</th>
                                    <th>Receipt Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for receipts in receipts %}
                                <tr>
                                    <td><a href="#" class="table-link-text link-high-em">{{receipts.id}}</a></td>
                                    <td>{{ receipts.student.user.first_name|add:" " }}{{ receipts.student.user.last_name }}</td>
                                    <td>{{receipts.payment_method}}</td>
                                    <td>Rs.{{receipts.paid_amount}}</td>
                                    <td>{{receipts.created_by}}</td>
                                    <td>{{receipts.created}}</td>
                                    {% if 'read_finance' in permissions %}
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="d-flex">
                                                <a href="{% url 'view_receipt' id=receipts.id %}"class="btn btn-primary"><i class="material-icons">visibility</i></a>
                                            </div>
                                        </div>
                                    </td>
                                    {% else %}
                                    <td>----</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
