{% include 'header.html' %}

<div class="app-content">
    <div class="content-wrapper">
        <div class="invoiceapp-wrap">
            <div class="invoiceapp-detail-wrap">
                <div class="invoice-body">
                    <div class= "container">
                        <!-- Page Header -->
                        <div class="hk-pg-header">
                            <div class="d-flex">
                                <div class="d-flex flex-wrap justify-content-between flex-1">
                                    <div class="mb-md-0 mb-2 me-8">
                                        <div class="d-flex align-items-center">
                                            <h1 class="pg-title">Receipts</h1>
                                            <!-- <span class="badge badge-soft-primary ms-3">Badge</span> -->
                                        </div>
                                        <p id="greeting"></p>
                
                                        <script>
                                            const now = new Date();
                                            const hour = now.getHours();
                                    
                                            let greeting;
                                    
                                            if (hour < 12) {
                                                greeting = "Good Morning";
                                            } else if (hour < 18) {
                                                greeting = "Good Afternoon";
                                            } else {
                                                greeting = "Good Evening";
                                            }
                                    
                                            document.getElementById("greeting").innerHTML = greeting + " {{request.user.first_name}}!";
                                        </script>
                                        
                                    </div>
                                    <div class="pg-header-action-wrap">
                                    {% if 'create_finance' in permissions %}
                                    <div>
                                        <a href="{% url 'create_receipt' %}"><button class="btn btn-primary">Create Receipt</button></a>
                                    </div>
                                    {% endif %}
                                    </div> 
                                </div>
                            </div>
                        </div>

                        <!-- /Page Header -->
                        <div class="invoice-list-view mt-3">
                            <table id="datable_1" class="table nowrap w-100 mb-5">
                                <thead>
                                    <tr>
                                        <th>Receipt #</th>
                                        <th>Client Name</th>
                                        <th>Payment Method</th>
                                        <th>Paid Amount</th>
                                        <th>Created By</th>
                                        <th>Receipt Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for receipts in receipts %}
                                    <tr>
                                        <td><a href="#" class="table-link-text link-high-em">{{receipts.id}}</a></td>
                                        <td>{{ receipts.student.user.first_name|add:" " }}{{ receipts.student.user.last_name }}</td>
                                        <td>{{receipts.payment_method}}</td>
                                        <td>Rs.{{receipts.paid_amount}}</td>
                                        <td>{{receipts.created_by}}</td>
                                        <td>{{receipts.created}}</td>
                                        {% if 'read_finance' in permissions %}
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex">
                                                    <a href="{% url 'view_receipt' id=receipts.id %}"class="btn btn-primary"><i class="material-icons">visibility</i></a>
                                                </div>
                                            </div>
                                        </td>
                                        {% else %}
                                        <td>----</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>

{% include 'footer.html' %}