{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Add Student</h1>
                    </div>
                </div>
                
                <!-- add other contents  -->
                <form action="{% url 'add_employee' %}" method="POST">
                    {% csrf_token %}
                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <p>First Name</p>
                            <div class="input-group">
                                <input name="first_name" type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Last Name</p>
                            <div class="input-group">
                                <input name="last_name" type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <p>Username</p>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">@</span>
                                <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Password</p>
                            <div class="input-group">
                                <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <p>Email</p>
                            <div class="input-group">
                                <input name="email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Address</p>
                            <div class="input-group">
                                <input name="address" type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <p>Contact Number</p>
                            <div class="input-group">
                                <input name="contact" type="text" class="form-control" placeholder="Contact Number" aria-label="Contact Number" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Select Role</p>
                            <select class="js-states form-control" tabindex="-1" style="display: none; width: 100%" name="roll">
                                <optgroup label="Select Role">
                                    {% for roles in roles %}
                                    <option value="{{roles.id}}" >{{roles.role}}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <p>Department</p>
                            <select class="js-states form-control" tabindex="-1" style="display: none; width: 100%" name="department" id="department-select">
                                <optgroup label="department">
                                    {% for department in department %}
                                    <option value="{{ department.id }}">{{ department.department }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Designation</p>
                            <select class="js-states form-control" tabindex="-1" style="display: none; width: 100%" name="designation" id="designation-select">
                                <optgroup label="Designation">
                                    {% for designation in designation %}
                                    <option value="{{ designation.id }}" data-department-id="{{ designation.department.id }}">{{ designation.designation }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <p>Salary</p>
                            <div class="input-group">
                                <input name="salary" type="text" class="form-control" placeholder="salary" aria-label="salary" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Date Joined</p>
                            <div class="input-group">
                                <input name="date_joined" type="date" class="form-control" placeholder="Date Joined" aria-label="Date Joined" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>

                    
                    <div class="row mt-5">
                        <div class="col-12 col-md-6">
                            <div class="input-group">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>       
            </div>
        </div>
    </div>
</div>

<script>
	const departmentSelect = document.querySelector('#department-select');
	const designationSelect = document.querySelector('#designation-select');
	
	departmentSelect.addEventListener('change', () => {
	  const selectedDepartmentId = departmentSelect.value;
	  const options = designationSelect.querySelectorAll('option');
	  
	  options.forEach((option) => {
		if (option.value && option.dataset.departmentId !== selectedDepartmentId) {
		  option.disabled = true;
		  option.selected = false;
		} else {
		  option.disabled = false;
		}
	  });
	});
	</script>

{% include 'footer.html' %}