{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Apply Leave</h1>
                    </div>
                </div>
                
                <!-- add other contents  -->
                
                {% if is_emp %}
                <form action="{% url 'apply_leave' %} " method="POST">
                    {% csrf_token %}
                    <div class="col-12 mb-4">
                        <h6>Reason</h6>
                        <div class="form-group">
                            <input type="text" class="form-control" name="reason" required>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <h6>Select Leave Days</h6>
                        <div class="form-group">
                            <input class="form-control flatpickr1" type="text" placeholder="Select Date.." name="dates">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save </button>
                </form>
                {% else %}
                <p>You are not an employee.</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}