{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->
																		
		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">Employee Attendance</h1>
						</div>
						<p id="greeting"></p>

						<script>
							const now = new Date();
							const hour = now.getHours();
					
							let greeting;
					
							if (hour < 12) {
								greeting = "Good Morning";
							} else if (hour < 18) {
								greeting = "Good Afternoon";
							} else {
								greeting = "Good Evening";
							}
					
							document.getElementById("greeting").innerHTML = greeting + " {{request.user.first_name}}!";
						</script>
						
					</div>
				</div>
			</div>
			<div class="container mt-5">															
				<form class="row" method = "POST" action="{% url 'attendance' %}">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-4">
							<label for="inputState" class="form-label">Employee</label>
							<select id="inputState" class="form-select" name="employee" required>
								<option selected value="all">All Employees</option>
								{% for employees in employees %}
								<option value="{{ employees.id }}">{{employees.user.first_name}} {{employees.user.last_name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-3">
							<label for="inputCity" class="form-label">From Date</label>
							<input type="date" class="form-control" id="inputCity" name="start_date" required>
						</div>
						<div class="col-md-3">
							<label for="inputCity" class="form-label">To Date</label>
							<input type="date" class="form-control" id="inputCity" name="end_date" required>
						</div>
						<div class="col-2 mt-5">
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</div>
				</form>
																	
																	
			</div>
		</div>									
		<!-- /Page Header -->
	
		<!-- /Add other contents below -->
		{% if att_data %}
		<div class="card-body">
			{% if start_date %}
			<p>Data between {{start_date}} and {{end_date}}</p>
			{% endif %}
			<div class="contact-list-view">
				<table class="table nowrap w-100 mb-5">
					<thead>
						<tr>
							<th>Employee</th>
							<th>Punch In</th>
							<th>Punch Out</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for att_data in att_data %}
						<tr>
							<td>{{att_data.user.user.first_name}} {{att_data.user.user.last_name}}</td>
							<td>{{att_data.punch_in_time}}</td>
							<td>{{att_data.punch_out_time}}</td>
							<td>
								<a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="modal" data-bs-target="#exampleModalCenter{{att_data.id}}" data-bs-placement="top" title="" data-bs-original-title="View"><span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="eye"></i></span></span></a>
							</td>
							
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}
	</div>
</div>


{% for att_data in att_data %}
<div class="modal fade" id="exampleModalCenter{{att_data.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter{{att_data.id}}" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Log Details</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<h6>Punched In : </h6> <span>{{att_data.punch_in_time}}</span>
				<div class="separator separator-light"></div>
				<h6>Punched Out : </h6> <span>{{att_data.punch_out_time}}</span>
				<div class="separator separator-light"></div>
				<h6>Tasks</h6>
				<p>{{att_data.tasks}}</p>
				<div class="separator separator-light"></div>
				<h6>Meetings</h6>
				<p>{{att_data.meetings}}</p>
				<div class="separator separator-light"></div>
				<h6>Remarks</h6>
				<p>{{att_data.remarks}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% include 'footer.html' %}