{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->												
		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">Edit Designation</h1>
						</div>
						<p id="greeting"></p>

						<script>
							const now = new Date();
							const hour = now.getHours();
					
							let greeting;
					
							if (hour < 12) {
								greeting = "Good Morning";
							} else if (hour < 18) {
								greeting = "Good Afternoon";
							} else {
								greeting = "Good Evening";
							}
					
							document.getElementById("greeting").innerHTML = greeting + " {{request.user.first_name}}!";
						</script>
						
					</div>
					
				</div>
			</div>
		</div>
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit designation</h5>
			</div>
			<div class="modal-body">
				<form action="{% url 'edit_designation' id=designation_data.id %}" method="POST">
					{% csrf_token %}

					<div class="modal-body">
						<div class="col-md-12 mb-3">
							<label for="inputState" class="form-label">Department</label>
							<select id="inputState" class="form-select" name="department" required>
								<option value="">Choose</option>
								{% for department in department %}
								<option value = {{department.id}} {% if designation_data.department.id == department.id %}selected{% endif %}>{{department.department}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-12 mb-3">
							<label for="">Designation</label>
							<input type="text" class="form-control"  placeholder="Marketing Manager" name='designation' value = "{{designation_data.designation}}">
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Edit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}