{% include 'header.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>HRM Setup</h1>
                    </div>
                </div>

               <!-- add other contents  -->

               <div class="container mt-4">
                    <div class="row">
                        <div class="page-description d-flex align-items-center">
                            <div class="page-description-content flex-grow-1">
                                <h2>Year</h2>
                            </div>
                            <div class="page-description-actions">  
                                {% if 'manage_hrm' in permissions %}                              
                                <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenterAddYearHRM"><i class="material-icons">add</i>Add</a>
                                {% endif %}                         
                            </div>
                        </div>
                        <div class="flex">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Year</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for year in year %}
                                        <tr>
                                            <td>{{year.year}}</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="d-flex">
                                                        {% if 'manage_hrm' in permissions %}
                                                        <a href="{% url 'edit_year' id=year.id %}" class="btn btn-dark"><i class="material-icons">edit</i></a>
                                                        {% endif %}
                                                        {% if 'delete_hrm' in permissions %}
                                                        <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModalCenterYearDelete{{year.id}}"><i class="material-icons">delete</i></a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="page-description d-flex align-items-center">
                            <div class="page-description-content flex-grow-1">
                                <h2>Month</h2>
                            </div>
                            <div class="page-description-actions">  
                                {% if 'manage_hrm' in permissions %}                              
                                <a href="" class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#exampleModalCenterAddMonth"><i class="material-icons">add</i>Add</a>
                                {% endif %}                         
                            </div>
                        </div>
                        <div class="flex">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Month</th>
                                            <th>Year</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Is Active</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for month_dict  in month_list  %}
                                        <tr>
                                            <td>{{month_dict.month.month}}</td>
                                            <th>{{month_dict.month.year}}</th>
                                            <td>{{month_dict.month.start_date}}</td>
                                            <td>{{month_dict.month.end_date}}</td>
                                            <td>{{ month_dict.month.is_active }}</td>
                                            <td>
                                                <div class="d-flex">
                                                    {% if 'manage_hrm' in permissions %}
                                                        <a href="{% url 'edit_month' id=month_dict.month.id %}" class="btn btn-dark"><i class="material-icons">edit</i></a>
                                                    {% endif %}

                                                    {% if 'delete_hrm' in permissions %}
                                                        <a href="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModalCenterViewMonth{{month_dict.month.month.id}}"><i class="material-icons">visibility</i></a>
                                                    {% endif %}
                                                    
                                                    {% if 'read_hrm' in permissions %}
                                                        <a href="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModalCentermonthDelete{{month_dict.month.id}}"><i class="material-icons">delete</i></a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="page-description d-flex align-items-center">
                            <div class="page-description-content flex-grow-1">
                                <h2>Department</h2>
                            </div>
                            <div class="page-description-actions">  
                                {% if 'manage_hrm' in permissions %}                              
                                <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenterAddDepartment"><i class="material-icons">add</i>Add</a>
                                {% endif %}                         
                            </div>
                        </div>
                        <div class="flex">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Department</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for department  in department  %}
                                        <tr>
                                            <td>{{department.department}}</td>
                                            <td>
                                                <div class="d-flex">
                                                    {% if 'manage_hrm' in permissions %}
                                                        <a href="{% url 'edit_department' id=department.id %}" class="btn btn-dark"><i class="material-icons">edit</i></a>
                                                    {% endif %}

                                                    {% if 'delete_hrm' in permissions %}
                                                        <a href="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModalCenter{{department.id}}"><i class="material-icons">delete</i></a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="page-description d-flex align-items-center">
                            <div class="page-description-content flex-grow-1">
                                <h2>Designation</h2>
                            </div>
                            <div class="page-description-actions">  
                                {% if 'manage_hrm' in permissions %}                              
                                <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenterAddDesignation"><i class="material-icons">add</i>Add</a>
                                {% endif %}                         
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Designation</th>
                                        <th>Department</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for designation in designation %}
                                    <tr>
                                        <td>{{designation.designation}}</td>
                                        <td>{{designation.department}}</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex">
                                                    <div class="d-flex">
                                                        {% if 'manage_hrm' in permissions %}
                                                            <a href="{% url 'edit_designation' id=designation.id %}" class="btn btn-dark"><i class="material-icons">edit</i></a>
                                                        {% endif %}

                                                        {% if 'delete_hrm' in permissions %}
                                                            <a href="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModalCenterDesignation{{designation.id}}"><i class="material-icons">delete</i></a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </div>
</div>




{% for month_dict in month_list %}
<div class="modal fade" id="exampleModalCenterViewMonth{{month_dict.month.month.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterViewMonth{{month_dict.month.month.id}}" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Month Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="modal-title">Year</h5>
                        <p>{{month_dict.month.year}}</p>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="modal-title">Month </h5>
                        <p>{{month_dict.month.month}}</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="modal-title">Start Date </h5>
                        <p>{{month_dict.month.start_date}}</p>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="modal-title">End Date </h5>
                        <p>{{month_dict.month.end_date}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
		</div>
	</div>
</div>
{% endfor %}

<div class="modal fade" id="exampleModalCenterAddYearHRM" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterAddYearHRM" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Year</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <form action="{% url 'add_year' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="col-md-12 mb-3">
                            <label for="">Year</label>
                            <input type="text" class="form-control"  placeholder="2057" name='year'>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalCenterAddMonth" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterAddMonth" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Month</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <form action="{% url 'add_month' %} " method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="col-xxl-12 mb-xxl-0 mb-4">
                        <h6>Select Year</h6>
                        <div class="form-group">
                            <select class="form-select" name="year" required>
                                {% for year in year %}
                                <option value="{{year.id}}">{{year.year}}</option>
                                {% endfor %}
                            </select>
                        </div>  
                    </div>
                    <div class="col-xxl-12 mb-xxl-0 mb-4">
                        <h6>Month Name</h6>
                        <div class="form-group">
                            <input type="text" class="form-control" name="month" required>
                        </div>
                    </div>
                    <div class="col-xxl-12 mb-xxl-0 mb-4">
                        <h6>Start Date</h6>
                        <div class="form-group">
                            <input type="date" class="form-control" name="start_date" required>
                        </div>
                    </div>
                    <div class="col-xxl-12 mb-xxl-0 mb-4">
                        <h6>End Date</h6>
                        <div class="form-group">
                            <input type="date" class="form-control" name="end_date" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save </button>
                </div>
            </form>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModalCenterAddDepartment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterAddDepartment" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Department</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <form action="{% url 'add_department' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="col-md-12 mb-3">
                            <label for="">Department</label>
                            <input type="text" class="form-control"  placeholder="Marketing" name='department'>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
		</div>
	</div>
</div>



<div class="modal fade" id="exampleModalCenterAddDesignation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterAddDesignation" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add designation</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <form action="{% url 'add_designation' %}" method="POST">
                    {% csrf_token %}

                    <div class="modal-body">
                        <label for="inputState" class="form-label">Department</label>
                        <div class="row">

                            {% for department in department %}
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="month" id="flexRadioDefault111" value="{{department.id}}">
                                    <label class="form-check-label" for="flexRadioDefault111">
                                        {{department.department}}
                                    </label>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <div class="col-md-12 mb-3">
                            <label for="">Designation</label>
                            <input type="text" class="form-control"  placeholder="Marketing Manager" name='designation'>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
		</div>
        
	</div>
</div>




<div class="modal fade" id="exampleModalCenterAddAttendanceDevice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterAddAttendanceDevice" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Device Data</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% comment %} <div class="modal-body">
                <form action="{% url 'add_device_data' %}" method="POST">
                    {% csrf_token %}

                    <div class="modal-body">
                        <div class="col-md-12 mb-3">
                            <label for="">IP Address</label>
                            <input type="text" class="form-control"  placeholder="192.168.1.255" name='ip_address'>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 mb-3">
                            <label for="">Port</label>
                            <input type="number" class="form-control"  placeholder="44656" name='port'>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div> {% endcomment %}
		</div>
        
	</div>
</div>







{% for department in department %}
<div class="modal fade" id="exampleModalCenter{{department.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter{{department.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Department</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{department.department}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_department' id=department.id %}"><button type="button" class="btn btn-primary">Delete</button></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}




{% for designation in designation %}
<div class="modal fade" id="exampleModalCenterDesignation{{designation.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterDesignation{{designation.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete designation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{designation.designation}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_designation' id=designation.id %}"><button type="button" class="btn btn-primary">Delete</button></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for year in year %}
<div class="modal fade" id="exampleModalCenterYearDelete{{year.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterYearDelete{{year.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Year</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{year.year}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_year' id=year.id %}"><button type="button" class="btn btn-primary">Delete</button></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}



{% for month_dict in month_list %}
<div class="modal fade" id="exampleModalCentermonthDelete{{month_dict.month.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCentermonthDelete{{month_dict.month.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete month</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{month_dict.month.month}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_month' id=month_dict.month.id %}"><button type="button" class="btn btn-primary">Delete</button></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if device_data %}
<div class="modal fade" id="exampleModalCenterDeleteDeviceData" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterDeleteDeviceData" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Device Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_device_data' id=device_data.id %}"><button type="button" class="btn btn-primary">Delete</button></a>
            </div>
        </div>
    </div>
</div>


{% endif %}







<script>
    $('.datepicker').datepicker({
        multidate: true,
        format: 'yyyy-mm-dd'
    });
</script>
{% include 'footer.html' %}