{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Leave Requests</h1>
                    </div>
                    <div class="page-description-actions">
                        {% if 'create_hrm' in permissions %}
                        <a href="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModalCenterAddMonth"><i class="material-icons">add</i>Add</a>
                        {% endif %}
                    </div>
                </div>
                
                <!-- add other contents  -->
                <div class="container">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="true">Leave Requests</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="approved-tab" data-bs-toggle="tab" data-bs-target="#approved" type="button" role="tab" aria-controls="approved" aria-selected="false">Approved</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="denied-tab" data-bs-toggle="tab" data-bs-target="#denied" type="button" role="tab" aria-controls="denied" aria-selected="false">Denied</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="requests" role="tabpanel" aria-labelledby="requests-tab"> 
                            <p>Leave Requests</p>
                            <div class="table-responsive">
                                <table class="table nowrap w-100 mb-5">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Reason</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if pending_leaves %}
                                        {% for pending_leaves in pending_leaves %}
                                        <tr>
                                            <td>{{pending_leaves.employee.user.first_name}} {{pending_leaves.employee.user.last_name}}</td>

                                            <td>
                                                {% for pending_leaves_dates in pending_leaves_dates %}
                                                {% if pending_leaves_dates.leave.id == pending_leaves.id %}
                                                    {{pending_leaves_dates.date}}<br>
                                                {% endif %}
                                                {% endfor %}
                                            </td>
                                            
                                            <td>{{pending_leaves.status}}</td>
                                            <td>{{pending_leaves.reason}}</td>
                                            <td>
                                                {% if 'update_hrm' in permissions %}
                                                <div  class="d-flex">
                                                    <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Approve" href="{% url 'accept_leave' id=pending_leaves.id %}"><span class="icon"><span class="feather-icon"><i class="bi bi-check2-circle"></i></span></span></a>
                                                    <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Deny" href="{% url 'deny_leave' id=pending_leaves.id %}"><span class="icon"><span class="feather-icon"><i class="bi bi-x-circle"></i></span></span></a>
                                                </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        
                                        
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td style="text-align: center" colspan="7">No Recent Leaves</td>
                                        </tr>
                                        {% endif %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">
                            <p>Approved Leave Requests</p>
                            <div class="table-responsive"></div>
                                <table class="table nowrap w-100 mb-5">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Reason</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if approved_leaves %}
                                        {% for approved_leaves in approved_leaves %}
                                        <tr>
                                            <td>{{approved_leaves.employee.user.first_name}} {{approved_leaves.employee.user.last_name}}</td>

                                            <td>
                                                {% for approved_leaves_dates in approved_leaves_dates %}
                                                {% if approved_leaves_dates.leave.id == approved_leaves.id %}
                                                    {{approved_leaves_dates.date}}<br>
                                                {% endif %}
                                                {% endfor %}
                                            </td>
                                            
                                            <td>{{approved_leaves.status}}</td>
                                            <td>{{approved_leaves.reason}}</td>
                                        </tr>
                                        
                                        
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td style="text-align: center" colspan="7">No Recent Leaves</td>
                                        </tr>
                                        {% endif %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="denied" role="tabpanel" aria-labelledby="denied-tab">
                            <p>Denied Leave Requests</p>
                            <div class="table-responsive">
                                <table class="table nowrap w-100 mb-5">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Reason</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if denied_leaves %}
                                        {% for denied_leaves in denied_leaves %}
                                        <tr>
                                            <td>{{denied_leaves.employee.user.first_name}} {{denied_leaves.employee.user.last_name}}</td>

                                            <td>
                                                {% for denied_leaves_dates in denied_leaves_dates %}
                                                {% if denied_leaves_dates.leave.id == denied_leaves.id %}
                                                    {{denied_leaves_dates.date}}<br>
                                                {% endif %}
                                                {% endfor %}
                                            </td>
                                            
                                            <td>{{denied_leaves.status}}</td>
                                            <td>{{denied_leaves.reason}}</td>
                                        </tr>
                                        
                                        
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td style="text-align: center" colspan="7">No Recent Leaves</td>
                                        </tr>
                                        {% endif %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenterAddMonth" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterAddMonth" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Leave</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
            <form action="{% url 'add_emp_leave' %} " method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="col-xxl-12 mb-xxl-0 mb-4">
                        <h6>Employee</h6>
                        <select id="inputState" class="form-select" name="employee" required="">
                            {% for employees in employees %}
                            <option value="{{employees.id}}">{{employees.user.first_name}} {{employees.user.last_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xxl-12 mb-xxl-0 mb-4">
                        <h6>Reason</h6>
                        <div class="form-group">
                            <input type="text" class="form-control" name="reason" required>
                        </div>
                    </div>
                    <div class="col-xxl-12 mb-xxl-0 mb-4">
                        <h6>Select Leave Days</h6>
                        <div class="form-group">
                            <input type="text" name="dates" class="form-control datepicker" placeholder="Select dates...">
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save </button>
                </div>
            </form>
		</div>
	</div>
</div>
{% include 'footer.html' %}

