{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Leave Requests</h1>
                    </div>
                    <div class="page-description-actions">
                        <a href="{% url 'apply_leave' %}" class="btn btn-dark"><i class="material-icons">add</i>Add</a>
                    </div>
                </div>
                
                <!-- add other contents  -->
                <div class="table-responsive">
                    <table class="table nowrap w-100 mb-5">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if approved_leaves %}
                            {% for approved_leaves in approved_leaves %}
                            <tr>
                                <td>{{approved_leaves.employee.user.first_name}} {{approved_leaves.employee.user.last_name}}</td>

                                <td>
                                    {% for approved_leave_dates in approved_leave_dates %}
                                    {% if approved_leave_dates.leave.id == approved_leaves.id %}
                                        {{approved_leave_dates.date}}<br>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                
                                <td>{{approved_leaves.status}}</td>
                                <td>{{approved_leaves.reason}}</td>
                            </tr>
                            
                            
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td style="text-align: center" colspan="7">No Recent Leaves</td>
                            </tr>
                            {% endif %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}

