{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Payroll</h1>
                        <span>Find the recents salary and advance payments.</span>
                    </div>
                    <div class="page-description-actions">
                        {% if 'create_hrm' in permissions %}
                        <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenterAdvance"><i class="material-icons">add</i>Advance Payment</a>
                        {% if 'create_hrm' in permissions %}
                        {% endif %}
                        <a href="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><i class="material-icons">add</i>Salary Payment</a>
                        {% endif %}
                    </div>
                </div>
                
                <!-- add other contents  -->
                <h4>Recent Payments</h4>
                <div class="table-responsive">
                    <table class="table nowrap w-100 mb-5">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Month</th>
                                <th>Leave Deduction</th>
                                <th>Tax/Leave Deduction</th>
                                <th>Type</th>
                                <th>Paid Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if recent_salary %}
                            {% for recent_salary in recent_salary %}
                            <tr>
                                <td>{{recent_salary.employee.user.first_name}} {{recent_salary.employee.user.last_name}}</td>
                                <td>{{recent_salary.month}}</td>
                                <td>{{recent_salary.leave_deduction|floatformat:2}}</td>
                                <td>{{recent_salary.tax_deduction|floatformat:2}}</td>
                                <td>{{recent_salary.type}}</td>
                                <td>{{recent_salary.paid_salary|floatformat:2}}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td style="text-align: center" colspan="7">No Recent Payments</td>
                            </tr>
                            {% endif %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Month</h5>
            </div>
            <form action="{% url 'salary_payment' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">                                                                        
                    <div class="row">
                        <div class="col-xxl-12 mb-xxl-0 mb-4">
                            <h6>Select Month</h6>
                            <div class="col-6">
                                <div class="form-group">
                                    {% for months in months %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="month" id="flexRadioDefault111" value="{{months.id}}">
                                        <label class="form-check-label" for="flexRadioDefault111">
                                            {{months.month}}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="#" ><button class="btn btn-primary ms-2 d-sm-inline-block d-none">Save</button></a>
                </div>
            </form>
        </div>
    </div>
</div>





<div class="modal fade" id="exampleModalCenterAdvance" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterAdvance" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Employee, Month and Advance Amount</h5>
            </div>
            <form action="{% url 'advance_salary' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">                                                                        

                    <div class="row mt-4">
                        <h6>Select Month</h6>
                        <div class="col-6">
                            <div class="form-group">
                                {% for months in months %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="month" id="flexRadioDefault111" value="{{months.month}}">
                                    <label class="form-check-label" for="flexRadioDefault111">
                                        {{months.month}}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                            <h6>Select Employee</h6>
                            <div class="col-6">
                                <div class="form-group">
                                    {% for all_employees in all_employees %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="employee" id="flexRadioDefault1" value='{{all_employees.id}}'>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{all_employees.user.first_name}} {{all_employees.user.last_name}}
                                        </label>
                                    </div>
                                    
                                    {% endfor %}
                                </div>
                            </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 ">
                            <h6>Advance Amount</h6>
                            <div class="form-group">
                                <input type="number" class="form-control" name="amount" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="#" ><button class="btn btn-primary ms-2 d-sm-inline-block d-none">Save</button></a>
                </div>
            </form>
        </div>
    </div>
</div>												
{% include 'footer.html' %}