{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Company Details</h1>
                        <span>These details are visible in invoice and receipts.</span>
                    </div>
                    <div class="page-description-actions">
                        
                        <a href="" class="btn btn-primary"><i class="material-icons">edit</i>Edit</a>
                        
                        <a href="" class="btn btn-dark"><i class="material-icons">add</i>Add</a>
                        
                    </div>
                </div>
                
                <!-- add other contents  -->
                <p>Month : {{month}}</p>
                        <form action="{% url 'pay_salary' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <table id="datable_1" class="table nowrap w-100 mb-5">
                                    <thead>
                                        <tr>
                                            <th scope="col"><input type="checkbox" id="check-all"></th>
                                            <th>Emp Name</th>
                                            <th>Salary</th>
                                            <th>Absent Days</th>
                                            <th>Advance</th>
                                            <th>Leave Deduction</th>
                                            <th>Tax Deduction</th>
                                            <th>Company Deduction</th>
                                            <th>Final Salary</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data_list in data_list %}
                                        <input type="text" name='month' value="{{data_list.month}}" style="display:none;">
                                        <tr>
                                            {% if data_list.status == 'paid' %} 
                                            <td><input type="checkbox" class="check" name="selected_employees" value="{{data_list.emp_id.id}}" disabled></td>
                                            {% else %}
                                            <td><input type="checkbox" class="check" name="selected_employees" value="{{data_list.emp_id.id}}"></td>
                                            {% endif %}
                                            <td>{{data_list.employee}}</td>
                                            <td name="salary">{{data_list.salary}}</td>
                                            <td>{{data_list.absent_days}}</td>
                                            <td name="advance_this_month">{{data_list.advance_this_month}}</td>
                                            <td><input type="text" class="form-control form-control-sm"  id="row-57-age" value="{{data_list.leave_deduction|floatformat:2}}" name="leave_deduction"></td>
                                            <td><input type="text" class="form-control form-control-sm"  id="row-57-age" value="{{data_list.tax_deduction|floatformat:2}}" name="tax_deduction"></td>
                                            <td><input type="text" class="form-control form-control-sm"  id="row-57-age" value="0.00" name="company_deduction"></td>
                                            <td><input type="text" class="form-control form-control-sm"  id="row-57-age" value="{{data_list.final_salary|floatformat:2}}" name="final_salary"></td>
                                            <td>
                                                {% if data_list.status == 'paid' %}                                                           
                                                <span class="badge badge-primary badge-outline">Paid</span>
                                                {% else %}
                                                <span class="badge badge-danger badge-outline">Unpaid</span>
                                                {% endif %} 
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        
                            <div class="row">
                                <div class="col-xxl-12 col-lg-8 col-md-7 mb-md-4 mb-3  mt-5">
                                    <div class="card-action-wrap">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenterrrr">
                                            Pay Salary
                                        </button>
                                        <div class="modal fade" id="exampleModalCenterrrr" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterrrr" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Are you sure you want to mark selected employees salary as paid?</h5>
                                                    </div>
                                                    <form action="{% url 'payroll' %}" method="POST">
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <a href="#" ><button class="btn btn-primary ms-2 d-sm-inline-block d-none">Yes</button></a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                

                
                



            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $("#check-all").change(function() {
            $(".check").prop('checked', $(this).prop("checked"));
        });
        
        $(".check").change(function() {
            if(false == $(this).prop("checked")) {
            $("#check-all").prop('checked', false);
            }
            if ($('.check:checked').length == $('.check').length ){
                $("#check-all").prop('checked', true);
            }
        });
        });
        


        $(document).ready(function() {
        // Listen for changes to any input field in the table body
        $('tbody').on('input', 'input', function() {
            // Find the parent row of the changed input field
            var row = $(this).closest('tr');
            
            // Get the values of all the relevant input fields in that row
            var salary = parseFloat(row.find('[name="salary"]').text());
            var advance = parseFloat(row.find('[name="advance_this_month"]').text());
            var tax = parseFloat(row.find('[name="tax_deduction"]').val());
            var leave = parseFloat(row.find('[name="leave_deduction"]').val());
            var company = parseFloat(row.find('[name="company_deduction"]').val());
            
            // Calculate the final salary
            var finalSalary = salary - advance - tax - leave - company;
            
            // Update the final salary input field in the same row
            row.find('[name="final_salary"]').val(finalSalary.toFixed(2));
        });
        });
        
</script>    
{% include 'footer.html' %}