{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->
		<div class="hk-pg-header pg-header-wth-tab pt-7">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-lg-0 mb-2 me-8">
						<h1 class="pg-title">Welcome back</h1>
						<p>Welcome to SPELL CRM Dashboard.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<!-- /Add other contents below -->
																
		
														
        <div class="container mt-5">										
            <div class="modal-content">
                <form action="{% url 'edit_role' id=role_data.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="createUserModal">Edit Role '{{role_data.role}}'</h5>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 mb-3">
                            <label for="">Role Name </label>
                            <input type="text" class="form-control"  placeholder="Finance" value="{{role_data.role}}" name='role'>
                        </div>
                        <div class="separator separator-light"></div>


                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="row"></th>
                                <th scope="row">Create</th>
                                <th scope="row">Read</th>
                                <th scope="row">Update</th>
                                <th scope="row">Delete</th>
                                <th scope="row">Manage</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Account</th>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.create_account == True %}checked{% endif %} name="create_account" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.read_account == True %}checked{% endif %} name="read_account" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.update_account == True %}checked{% endif %} name="update_account" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.delete_account == True %}checked{% endif %} name="delete_account" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.manage_account == True %}checked{% endif %} name="manage_account" value=True>
                                </td>
                                
                            </tr>
                            <tr>
                                <th scope="row">Products</th>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.create_products == True %}checked{% endif %} name="create_products" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.read_products == True %}checked{% endif %} name="read_products" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.update_products == True %}checked{% endif %} name="update_products" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.delete_products == True %}checked{% endif %} name="delete_products" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.manage_products == True %}checked{% endif %} name="manage_products" value=True>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Finance</th>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.create_finance == True %}checked{% endif %} name="create_finance" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.read_finance == True %}checked{% endif %} name="read_finance" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.update_finance == True %}checked{% endif %} name="update_finance" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.delete_finance == True %}checked{% endif %} name="delete_finance" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.manage_finance == True %}checked{% endif %} name="manage_finance" value=True>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">HRM</th>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.create_hrm == True %}checked{% endif %} name="create_hrm" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.read_hrm == True %}checked{% endif %} name="read_hrm" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.update_hrm == True %}checked{% endif %} name="update_hrm" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.delete_hrm == True %}checked{% endif %} name="delete_hrm" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.manage_hrm == True %}checked{% endif %} name="manage_hrm" value=True>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Leads</th>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.create_leads == True %}checked{% endif %} name="create_leads" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.read_leads == True %}checked{% endif %} name="read_leads" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.update_leads == True %}checked{% endif %} name="update_leads" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.delete_leads == True %}checked{% endif %} name="delete_leads" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.manage_leads == True %}checked{% endif %} name="manage_leads" value=True>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Inquiry</th>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.create_inquiry == True %}checked{% endif %} name="create_inquiry" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.read_inquiry == True %}checked{% endif %} name="read_inquiry" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.update_inquiry == True %}checked{% endif %} name="update_inquiry" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.delete_inquiry == True %}checked{% endif %} name="delete_inquiry" value=True>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.manage_inquiry == True %}checked{% endif %} name="manage_inquiry" value=True>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Company</th>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    <input type="checkbox" class="form-check-input" id="customCheck1" {% if role_data.manage_company == True %}checked{% endif %} name="manage_company" value=True>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="separator separator-light"></div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
													
        </div>
	</div>
</div>
{% include 'footer.html' %}