{% include 'nav_links.html' %}
<body>
    <div class="app app-auth-sign-in align-content-stretch d-flex flex-wrap justify-content-end">
        <div class="app-auth-background">

        </div>
        <div class="app-auth-container">
            <div class="logo">
                <a href="index.html">Neptune</a>
            </div>
            <p class="auth-description">Please sign-in to your account and continue to the dashboard.</p>

            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="auth-credentials m-b-xxl">
                    <label for="signInEmail" class="form-label">Username</label>
                    <input type="text" class="form-control m-b-md" id="signInEmail" name="username" aria-describedby="signInEmail" placeholder="example@neptune.com" required>
    
                    <label for="signInPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="signInPassword" name="password" aria-describedby="signInPassword" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required>
                </div>
    
                <div class="auth-submit">
                    <button class="btn btn-primary" type="submit">Sign In</button>
                    <a href="#" class="auth-forgot-password float-end">Forgot password?</a>
                </div>
            </form>
        </div>
    </div>
{% include 'footer.html' %}