{% load static %}{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Company Details</h1>
                        <span>These details are visible in invoice and receipts.</span>
                    </div>
                    <div class="page-description-actions">
                        {% if 'create_account' in permissions %}
                        <a href="{% url 'create_role' %}" class="btn btn-primary"><i class="material-icons">add</i>Add</a>
                        {% endif %}
                    </div>
                </div>

               <!-- add other contents  -->
			   	<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="datatable2" class="display" style="width:100%">
								<thead>
									<tr>
										<th>Role</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
									{% for role in roles %}
									<tr>
										<td>{{role.role}}</td>
										{% if 'read_account' in permissions  %}
											<td class="text-right">
												<a href="{% url 'view_role' id=role.id %}" class="btn btn-primary"><i class="material-icons">visibility</i></a>
											</td>
										{% else %}
											<td class="text-right">----</td>
										{% endif %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

						<style>
							.text-right {
							  text-align: right;
							}
						  </style>

						
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}