{% include 'student_header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Invoice  Details</h1>
                        <h4>{{student.user.first_name}} {{student.user.last_name}}</h4>
                    </div>
                    <div class="page-description-actions">
                        <a href="{% url 'student_statement' %}" class="btn btn-primary"><i class="material-icons">visibility</i>View Statement</a>
                    </div>
                </div>
<div class="invoice-list-view mt-5">
    <h4>Invoices</h4>
    <table class="table nowrap w-100 mb-5">
        <thead>
            <tr>
                <th>Invoice</th>
                <th>Student</th>
                <th>Issue Date</th>
                <th>Due Date</th>
                <th>Invoice Amount</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for invoices in invoices %}
            <tr>
                <td>{{invoices.id}}</td>
                <td>{{invoices.student.user.first_name|add:" " }}{{ invoices.student.user.last_name }}</td>
                <td>{{invoices.created}}</td>
                <td>{{invoices.created}}</td>
                <td>Rs.{{invoices.invoice_amount}}</td>
                <td>{{invoices.created_by}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<div class="invoice-list-view mt-5">
    <h4>Receipts</h4>
    <table class="table nowrap w-100 mb-5">
        <thead>
            <tr>
                <th>Receipt</th>
                <th>Student Name</th>
                <th>Payment Method</th>
                <th>Paid Amount</th>
                <th>Created By</th>
                <th>Receipt Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for receipts in receipts %}
            <tr>
                <td>{{receipts.id}}</td>
                <td>{{receipts.student.user.first_name|add:" " }}{{ invoices.student.user.last_name }}</td>
                <td>{{receipts.payment_method}}</td>
                <td>Rs.{{receipts.paid_amount}}</td>
                <td>{{receipts.created_by}}</td>
                <td>{{receipts.created}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>
</div>
</div>
</div>
