{% include 'header.html' %}

<div class="hk-pg-wrapper pb-0">
    <div class="hk-pg-body py-0">
        <div class="invoiceapp-wrap invoiceapp-setting-active">
            <div class="invoice-body">
                <div class="container">
                    <div class="create-invoice-wrap mt-xxl-5 p-md-5 p-3">
                            
                        <form action="{% url 'add_student' %}" method="POST">
                            {% csrf_token %}
                            <div class="separator separator-light"></div>
                            <div class="row">
                               
                                <div class="col-xxl-6">
                                    <h6>Client Name</h6>
                                    <input type="text" class="form-control" name = "client_name">
                                </div>
                                
                            </div>
                            <div class="separator separator-light"></div>
                            <div class="row">
                               
                                <div class="col-xxl-6">
                                    
                                    <h6>Client address</h6>
                                    <input type="text" class="form-control" name = "address">
                                </div>
                                
                            </div>
                            <div class="separator separator-light"></div>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <h6>Client Email</h6>
                                    <input type="text" class="form-control" name = "email">
                                </div>
                                <div class="col-xxl-6">
                                    <h6>Contact Number</h6>
                                    <input type="text" class="form-control" name = "contact">
                                </div>
                                
                            </div>
                            <div class="separator separator-light"></div>
                            <a href="#" ><button class="btn btn-primary ms-2 d-sm-inline-block d-none">save</button></a>
                        </form>
                    </div>
                </div>
                
            <div>

        </div>
    </div>
</div>
{% include 'footer.html' %}
