{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Add Student</h1>
                    </div>
                </div>
                
                <!-- add other contents  -->
                <form action="{% url 'add_student' %}" method="POST">
                    {% csrf_token %}
                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <p>First Name</p>
                            <div class="input-group">
                                <input name="first_name" type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Last Name</p>
                            <div class="input-group">
                                <input name="last_name" type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <p>Username</p>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">@</span>
                                <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Password</p>
                            <div class="input-group">
                                <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <p>Email</p>
                            <div class="input-group">
                                <input name="email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Address</p>
                            <div class="input-group">
                                <input name="address" type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <p>Contact Number</p>
                            <div class="input-group">
                                <input name="contact" type="text" class="form-control" placeholder="Contact Number" aria-label="Contact Number" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Enrollment Type</p>
                            <select class="js-states form-control" tabindex="-1" style="display: none; width: 100%" name="enrollment_type">
                                <optgroup label="Enrollment Type">
                                    {% for enrollment_type in enrollment_type %}
                                    <option value="{{enrollment_type.id}}">{{enrollment_type.enrollment_type}}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <p>Source</p>
                            <select class="js-states form-control" tabindex="-1" style="display: none; width: 100%" name="source">
                                <optgroup label="Source">
                                    {% for source in student_source %}
                                    <option value="{{source.id}}">{{source.source}}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Stage</p>
                            <select class="js-states form-control" tabindex="-1" style="display: none; width: 100%" name="stage">
                                <optgroup label="stage">
                                    {% for stage in stage %}
                                    sdad
                                    <option value="{{stage.id}}">{{stage.stage}}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        
                        <div class="col-12 col-md-6">
                            <p>Courses </p>
                            <select class="js-states form-control" tabindex="-1" style="display: none; width: 100%" multiple="multiple" name="course">
                                <optgroup label="Enrollment Type">
                                    {% for course in course %}
                                    <option value="{{course.id}}">{{course.course_title}}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Assign to </p>
                            <select class="js-states form-control" tabindex="-1" style="display: none; width: 100%" multiple="multiple" name="assigned_to">
                                <optgroup label="Enrollment Type">
                                    {% for assign in assign %}
                                    <option value="{{assign.id}}">{{assign.user.first_name}}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>

                        <div class="col-12 col-md-6">
                            <p>Enable Logs</p>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="log">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Enable Log Reports(Monitor file uploads and stages)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6">
                            <div class="input-group">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>       
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
