{% include 'header.html' %}

<div class="app-content">
    <div class="content-wrapper">
        <div class="invoice-body">
            <div class="container">
                <div class="create-invoice-wrap mt-xxl-5 p-md-5 p-3">
                    <div class="separator separator-light"></div>
                    <form action="{% url 'add_student' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <h6>student First Name</h6>
                                <input type="text" class="form-control" name = "first_name">
                            </div>
                            <div class="col-6">
                                <h6>student Last Name</h6>
                                <input type="text" class="form-control" name = "last_name">
                            </div>
                           
                            <div class="col-6">
                                <h6>student address</h6>
                                <input type="text" class="form-control" name = "address">
                            </div>
                           
                            <div class="col-6">
                                <h6>student Email</h6>
                                <input type="text" class="form-control" name = "email">
                            </div>
                            <div class="col-6">
                                <h6>Contact Number</h6>
                                <input type="text" class="form-control" name = "contact">
                            </div>
                            <div class="col-6">
                                <h6>Username</h6>
                                <input type="text" class="form-control" name = "username">
                            </div>
                            <div class="col-6">
                                <h6>Password</h6>
                                <input type="text" class="form-control" name = "password">
                            </div>
                            
                        </div>
                            
                        </div>
                        
                        <div class="separator separator-light"></div>
                        <a href="#" ><button class="btn btn-primary ms-2 d-sm-inline-block d-none">save</button></a>
                    </form>
                </div>
            </div>
            
        <div>
    </div>
</div>

{% include 'footer.html' %}
