{% include 'student_header.html' %}

<div class="container app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <span>Your Details</span>
                    </div>
                    <div class="page-description-actions">                        
                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>                        
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card widget widget-list">
                                <div class="card-body">
                                    <div class="row widget widget-list mt-5">
                                        <div class="col-12 col-sm-12 col-md-4">
                                            <ul class="widget-list-content list-unstyled">
                                                <li class="widget-list-item widget-list-item-green">
                                                    <span class="widget-list-item-icon"><i class="material-icons-outlined">person</i></span>
                                                    <span class="widget-list-item-description">
                                                        <a href="#" class="widget-list-item-description-title">
                                                           Student Name
                                                        </a>
                                                        <span class="widget-list-item-description-subtitle">
                                                            {{student.user.first_name|add:" " }}{{student.user.last_name }}
                                                        </span>
                                                    </span>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-4">
                                            <ul class="widget-list-content list-unstyled">
                                                <li class="widget-list-item widget-list-item-green">
                                                    <span class="widget-list-item-icon"><i class="material-icons-outlined">place</i></span>
                                                    <span class="widget-list-item-description">
                                                        <a href="#" class="widget-list-item-description-title">
                                                            Address
                                                        </a>
                                                        <span class="widget-list-item-description-subtitle">
                                                            {{student.address}}
                                                        </span>
                                                    </span>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-4">
                                            <ul class="widget-list-content list-unstyled">
                                                <li class="widget-list-item widget-list-item-green">
                                                    <span class="widget-list-item-icon"><i class="material-icons-outlined">email</i></span>
                                                    <span class="widget-list-item-description">
                                                        <a href="#" class="widget-list-item-description-title">
                                                            Email
                                                        </a>
                                                        <span class="widget-list-item-description-subtitle">
                                                            {{student.user.email}}
                                                        </span>
                                                    </span>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-4">
                                            <ul class="widget-list-content list-unstyled">
                                                <li class="widget-list-item widget-list-item-green">
                                                    <span class="widget-list-item-icon"><i class="material-icons-outlined">call</i></span>
                                                    <span class="widget-list-item-description">
                                                        <a href="#" class="widget-list-item-description-title">
                                                            Contact Number
                                                        </a>
                                                        <span class="widget-list-item-description-subtitle">
                                                            {{student.contact}}
                                                        </span>
                                                    </span>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-4">
                                            <ul class="widget-list-content list-unstyled">
                                                <li class="widget-list-item widget-list-item-green">
                                                    <span class="widget-list-item-icon"><i class="material-icons-outlined">create</i></span>
                                                    <span class="widget-list-item-description">
                                                        <a href="#" class="widget-list-item-description-title">
                                                            Date Joined
                                                        </a>
                                                        <span class="widget-list-item-description-subtitle">
                                                            {{student.created}}
                                                        </span>
                                                    </span>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if invoices %}
                        <div class="col-xl-4">
                            <div class="card widget widget-list">
                                <div class="card-header">
                                    <h5 class="card-title">Invoices<span class="badge badge-success badge-style-light"><a href="{% url 'student_statement' %}"><span class="badge badge-success badge-style-light">View Statement</span></a></h5>
                                </div>
                                <div class="card-body">
                                    <ul class="widget-list-content list-unstyled">
                                        {% for invoice in invoices %}
                                        <li class="widget-list-item widget-list-item-green">
                                            <a href="{% url 'student_view_invoice' id=invoice.id %}">
                                                <span class="widget-list-item-icon"><i class="material-icons-outlined">article</i></span>
                                            </a>
                                            <span class="widget-list-item-description">
                                                <a href="{% url 'student_view_invoice' id=invoice.id %}" class="widget-list-item-description-title">
                                                    Rs. {{invoice.invoice_amount}}
                                                </a>
                                                <span class="widget-list-item-description-subtitle">
                                                    {{invoice.created}}
                                                </span>
                                            </span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if receipts %}
                        <div class="col-xl-4">
                            <div class="card widget widget-list">
                                <div class="card-header">
                                    <h5 class="card-title">Receipts<span class="badge badge-success badge-style-light"><a href="{% url 'student_statement' %}"><span class="badge badge-success badge-style-light">View Statement</span></a></span></h5>
                                </div>
                                <div class="card-body">
                                    <ul class="widget-list-content list-unstyled">
                                        {% for receipt in receipts %}
                                        <li class="widget-list-item widget-list-item-green">
                                            <a href="{% url 'student_view_receipt' id=receipt.id %}">
                                                <span class="widget-list-item-icon"><i class="material-icons-outlined">article</i></span>
                                            </a>
                                            <span class="widget-list-item-description">
                                                <a href="{% url 'student_view_receipt' id=receipt.id %}" class="widget-list-item-description-title">
                                                    Rs. {{receipt.paid_amount}}
                                                </a>
                                                <span class="widget-list-item-description-subtitle">
                                                    {{receipt.created}}
                                                </span>
                                            </span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-xl-4">
                            <div class="card widget widget-list">
                                <div class="card-header">
                                    <h5 class="card-title">Files</h5>
                                </div>
                                <div class="card-body">
                                    <ul class="widget-list-content list-unstyled">
                                        {% for file in files %}
                                        <li class="widget-list-item widget-list-item-green">
                                            <a href="{{ file.file.url }}">
                                                <span class="widget-list-item-icon"><i class="material-icons-outlined">article</i></span>
                                            </a>
                                            <span class="widget-list-item-description">
                                                <a href="#" class="widget-list-item-description-title">
                                                    {{file.title}}
                                                </a>
                                                <span class="widget-list-item-description-subtitle">
                                                    {{file.created|date}}
                                                </span>
                                            </span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>


                        
                                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>



{% include 'footer.html' %}