{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Students</h1>
                        <span>Manage your students</span>
                    </div>
                    <div class="page-description-actions">
                        
                        
                        <a href="{% url 'add_student' %}" class="btn btn-primary"><i class="material-icons">add</i>Add</a>
                        
                    </div>
                </div>
                
                <!-- add other contents  -->
				<div class="row">
					<table id="datable_1" class="table nowrap w-100 mb-5">
						<thead>
							<tr>
								<th>Student Name</th>
								<th>Contact Number</th>
								<th>Email</th>
								<th>Address</th>
								<th>Course</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for student in student %}
							<tr>
								<td>{{student.user}}</td>
								<td>{{student.contact}}</td>
								<td>{{student.user.email}}</td>
								<td>{{student.user.email}}</td>
								<td>{{student.address}}</td>
								<td>
									<div class="d-flex align-items-center">
										<div class="d-flex">
											{% if 'update_student' in permissions %}
											<a href="{% url 'edit_student' id=student.id %}" class="btn btn-primary"><i class="material-icons">edit</i></a>
											{% endif %}
											{% if 'read_student' in permissions %}
											<a href="{% url 'view_student' id=student.id %}" class="btn btn-primary"><i class="material-icons">visibility</i></a>
											{% endif %}
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>



            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
