{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Company Details</h1>
                        <span>These details are visible in invoice and receipts.</span>
                    </div>
                    <button type="button" class="btn btn-dark">{{student.stage}}</button>
                </div>
                
                <!-- add other contents  -->

                
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{student.user.first_name|add:" " }}{{student.user.last_name }}
                                    <span class="badge ">
                                        <div class="page-description-actions">
                                            <div class="dropdown">
                                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Dropdown link
                                                </a>
                                            
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="example-container">
                                    <div class="example-content">
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active"  id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">General</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Notes & Files</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Activity</button>
                                            </li>
                                        </ul>

                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                                <div class="row widget widget-list mt-5">
                                                    <div class="col-4">
                                                        <ul class="widget-list-content list-unstyled">
                                                            <li class="widget-list-item widget-list-item-green">
                                                                <span class="widget-list-item-icon"><i class="material-icons-outlined">person</i></span>
                                                                <span class="widget-list-item-description">
                                                                    <a href="#" class="widget-list-item-description-title">
                                                                       Student Name
                                                                    </a>
                                                                    <span class="widget-list-item-description-subtitle">
                                                                        {{student.user.first_name|add:" " }}{{student.user.last_name }}
                                                                    </span>
                                                                </span>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="col-4">
                                                        <ul class="widget-list-content list-unstyled">
                                                            <li class="widget-list-item widget-list-item-green">
                                                                <span class="widget-list-item-icon"><i class="material-icons-outlined">place</i></span>
                                                                <span class="widget-list-item-description">
                                                                    <a href="#" class="widget-list-item-description-title">
                                                                        Address
                                                                    </a>
                                                                    <span class="widget-list-item-description-subtitle">
                                                                        {{student.address}}
                                                                    </span>
                                                                </span>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="col-4">
                                                        <ul class="widget-list-content list-unstyled">
                                                            <li class="widget-list-item widget-list-item-green">
                                                                <span class="widget-list-item-icon"><i class="material-icons-outlined">email</i></span>
                                                                <span class="widget-list-item-description">
                                                                    <a href="#" class="widget-list-item-description-title">
                                                                        Email
                                                                    </a>
                                                                    <span class="widget-list-item-description-subtitle">
                                                                        {{student.user.email}}
                                                                    </span>
                                                                </span>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="col-4">
                                                        <ul class="widget-list-content list-unstyled">
                                                            <li class="widget-list-item widget-list-item-green">
                                                                <span class="widget-list-item-icon"><i class="material-icons-outlined">call</i></span>
                                                                <span class="widget-list-item-description">
                                                                    <a href="#" class="widget-list-item-description-title">
                                                                        Contact Number
                                                                    </a>
                                                                    <span class="widget-list-item-description-subtitle">
                                                                        {{student.contact}}
                                                                    </span>
                                                                </span>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="col-4">
                                                        <ul class="widget-list-content list-unstyled">
                                                            <li class="widget-list-item widget-list-item-green">
                                                                <span class="widget-list-item-icon"><i class="material-icons-outlined">create</i></span>
                                                                <span class="widget-list-item-description">
                                                                    <a href="#" class="widget-list-item-description-title">
                                                                        Date Joined
                                                                    </a>
                                                                    <span class="widget-list-item-description-subtitle">
                                                                        {{student.created}}
                                                                    </span>
                                                                </span>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="invoice-list-view mt-5">
                                                        <h4>Invoices</h4>
                                                        <table class="table nowrap w-100 mb-5">
                                                            <thead>
                                                                <tr>
                                                                    <th>Invoice</th>
                                                                    <th>Student</th>
                                                                    <th>Issue Date</th>
                                                                    <th>Due Date</th>
                                                                    <th>Invoice Amount</th>
                                                                    <th>Created By</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for invoices in invoices %}
                                                                <tr>
                                                                    <td><a href="#" class="table-link-text link-high-em">{{invoices.id}}</a></td>
                                                                    <td>{{invoices.student.user.first_name|add:" " }}{{ invoices.student.user.last_name }}</td>
                                                                    <td>{{invoices.created}}</td>
                                                                    <td>{{invoices.created}}</td>
                                                                    <td>Rs.{{invoices.invoice_amount}}</td>
                                                                    <td>{{invoices.created_by}}</td>
                                                                    {% if 'read_finance' in permissions %}
                                                                    <td>
                                                                        <a  href="{% url 'view_invoice' id=invoices.id %}" class="btn btn-primary"><i class="material-icons">visibility</i></a>
                                                                    </td>
                                                                    {% else %}
                                                                    <td>---</td>
                                                                    {% endif %}
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    
                                                    </div>
                                                    <div class="invoice-list-view mt-5">
                                                        <h4>Receipts</h4>
                                                        <table class="table nowrap w-100 mb-5">
                                                            <thead>
                                                                <tr>
                                                                    <th>Receipt</th>
                                                                    <th>Student Name</th>
                                                                    <th>Payment Method</th>
                                                                    <th>Paid Amount</th>
                                                                    <th>Created By</th>
                                                                    <th>Receipt Date</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for receipts in receipts %}
                                                                <tr>
                                                                    <td><a href="#" class="table-link-text link-high-em">{{receipts.id}}</a></td>
                                                                    <td>{{receipts.student.user.first_name|add:" " }}{{ invoices.student.user.last_name }}</td>
                                                                    <td>{{receipts.payment_method}}</td>
                                                                    <td>Rs.{{receipts.paid_amount}}</td>
                                                                    <td>{{receipts.created_by}}</td>
                                                                    <td>{{receipts.created}}</td>
                                                                    {% if 'read_finance' in permissions %}
                                                                    <td>
                                                                        <a  href="{% url 'view_receipt' id=receipts.id %}" class="btn btn-primary"><i class="material-icons">visibility</i></a>
                                                                    </td>
                                                                    {% else %}
                                                                    <td>---</td>
                                                                    {% endif %}
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    
                                                    </div>
                                                </div>
                                            </div>










                                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                                                <div class="row">
                                                    <div class="col-xl-12 col-xxl-12">
                                                        <div class="todo-list">
                                                            <h4>Notes</h4>
                                                            <ul class="list-unstyled">
                                                                <li class="todo-item">
                                                                    <div class="todo-item-content">
                                                                        <span class="todo-item-title">Walk the dog</span>
                                                                        <span class="todo-item-subtitle">Donec ultricies est vel tellus molestie volutpat. Duis at cursus risus.</span>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row widget widget-list">
                                                    <div class="col-4">
                                                        <h4>Files</h4>
                                                        <ul class="widget-list-content list-unstyled">
                                                            <li class="widget-list-item widget-list-item-green">
                                                                <span class="widget-list-item-icon"><i class="material-icons-outlined">article</i></span>
                                                                <span class="widget-list-item-description">
                                                                    <a href="#" class="widget-list-item-description-title">
                                                                        Dashboard UI optimisations
                                                                    </a>
                                                                    <span class="widget-list-item-description-subtitle">
                                                                        Oskar Hudson
                                                                    </span>
                                                                </span>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                            </div>








                                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                                <p>Placeholder content for the tab panel. This one relates to the contact tab. Her love is like a drug. All my girls vintage Chanel baby. Got a motel and built a fort out of sheets. 'Cause she's the muse and the artist. (This is how we do) So you wanna play with magic. So just be sure before you give it all to me. I'm walking, I'm walking on air (tonight). Skip the talk, heard it all, time to walk the walk. Catch her if you can. Stinging like a bee I earned my stripes.</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Delete Lead</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete the Client.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<a href="{% url 'delete_student' id=student.id %}"><button type="button" class="btn btn-primary">Delete</button></a>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}