{% load static %}
{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
    <div class="container-xxl">
        <!-- Page Header -->
		<div class="hk-pg-header pg-header-wth-tab pt-7">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-lg-0 mb-2 me-8">
						<h1 class="pg-title">Welcome back</h1>
						<p>Welcome to SPELL CRM Dashboard.</p>
					</div>
					<div class="mb-lg-0 mb-2 me-8">
                        {% if 'read_finance' in permissions %}
                        <a href="{% url 'single_statement' id=student.id %}">
                            <button type="button" class="btn btn-success  btn-animated" data-bs-toggle="modal" data-bs-target="#createUserModal">View Statement</button>
                        </a>
                        {% endif %}
						{% if 'delete_student' in permissions %}
                        <button type="button" class="btn btn-success  btn-animated" data-bs-toggle="modal" data-bs-target="#DeleteModal">Delete Client</button>
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
        <div class="card-body ">
            <div class="row mt-2">
                <div class="col-4">
                    <div class="d-flex align-items-start">
                        <div class="media align-items-center">
                            <div class="media-head me-2">
                                <div class="avatar avatar-xs avatar-rounded">
                                    <i class="bi bi-person-circle"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="text-high-em">Name</div> 
                                <div class="fs-7"><a href="#" class="table-link-text link-medium-em">{{student.student_name}}</a></div> 
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
                <div class="col-4">
                    <div class="d-flex align-items-start">
                        <div class="media align-items-center">
                            <div class="media-head me-2">
                                <div class="avatar avatar-xs avatar-rounded">
                                    <i class="bi bi-telephone"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="text-high-em">Phone Number</div> 
                                <div class="fs-7"><a href="#" class="table-link-text link-medium-em">{{student.address}}</a></div> 
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
                
                
                <div class="col-4">
                    <div class="d-flex align-items-start">
                        <div class="media align-items-center">
                            <div class="media-head me-2">
                                <div class="avatar avatar-xs avatar-rounded">
                                    <i class="bi bi-envelope"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="text-high-em">Email</div> 
                                <div class="fs-7"><a href="#" class="table-link-text link-medium-em">{{student.email}}</a></div> 
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-4">
                    <div class="d-flex align-items-start">
                        <div class="media align-items-center">
                            <div class="media-head me-2">
                                <div class="avatar avatar-xs avatar-rounded">
                                    <i class="bi bi-geo"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="text-high-em">Address</div> 
                                <div class="fs-7"><a href="#" class="table-link-text link-medium-em">{{student.contact}}</a></div> 
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
                <div class="col-4">
                    <div class="d-flex align-items-start">
                        <div class="media align-items-center">
                            <div class="media-head me-2">
                                <div class="avatar avatar-xs avatar-rounded">
                                    <i class="bi bi-calendar-month"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="text-high-em">Date Joined</div> 
                                <div class="fs-7"><a href="#" class="table-link-text link-medium-em">{{student.created}}</a></div> 
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="invoice-body mt-3">
			<div class="container">
                <h5 class="h5g-title">Invoices</h5>
				<div class="invoice-list-view">
					<table class="table nowrap w-100 mb-5">
						<thead>
							<tr>
								<th>Invoice</th>
								<th>Customer</th>
								<th>Issue Date</th>
								<th>Due Date</th>
								<th>Invoice Amount</th>
								<th>Created By</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for invoices in invoices %}
							<tr>
								<td><a href="#" class="table-link-text link-high-em">{{invoices.id}}</a></td>
								<td>{{invoices.customer}}</td>
								<td>{{invoices.created}}</td>
								<td>{{invoices.created}}</td>
								<td>Rs. {{invoices.invoice_amount}}</td>
								<td>{{invoices.created_by}}</td>
								
								<td>
									<div class="d-flex align-items-center">
										<div class="d-flex">
                                            {% if 'read_finance' in permissions %}
											<a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" href="{% url 'view_invoice' id=invoices.id %}"><span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="eye"></i></span></span></a>
                                            {% else %}
                                            <p>---</p>
                                            {% endif %}
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				
				</div>
			
			</div>
		</div>

        <div class="invoice-body mt-3">
			<div class="container">
                <h5 class="h5g-title">Receipts</h5>
				<div class="invoice-list-view">
					<table class="table nowrap w-100 mb-5">
						<thead>
                            <tr>
                                <th>Receipt #</th>
                                <th>Client Name</th>
                                <th>Payment Method</th>
                                <th>Paid Amount</th>
                                <th>Created By</th>
                                <th>Receipt Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for receipts in receipts %}
                            <tr>
                                <td><a href="#" class="table-link-text link-high-em">{{receipts.id}}</a></td>
                                <td>{{receipts.customer}}</td>
                                <td>{{receipts.payment_method}}</td>
                                <td>Rs.{{receipts.paid_amount}}</td>
                                <td>{{receipts.created_by}}</td>
                                <td>{{receipts.created}}</td>
                                
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex">
                                            {% if 'read_finance' in permissions %}
                                            <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" href="{% url 'view_receipt' id=receipts.id %}"><span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="eye"></i></span></span></a>
                                            {% else %}
                                            <p>---</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
					</table>
				
				</div>
			
			</div>
		</div>



    </div>
</div>


{% comment %} delete  {% endcomment %}


<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Delete Lead</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete the Client.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<a href="{% url 'delete_student' id=student.id %}"><button type="button" class="btn btn-primary">Delete</button></a>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}