{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Inquiries</h1>
                        <span>Manage your inquiries</span>
                    </div>
                    <div class="page-description-actions">
                        
                        
                        <a href="{% url 'add_inquiry' %}" class="btn btn-primary"><i class="material-icons">add</i>Add</a>
                        
                    </div>
                </div>
                
                <!-- add other contents  -->
				<div class="card">
					<div class="card-body">
						<table id="datatable1" class="display" style="width:100%">
							<thead>
								<tr>
									<th>Name</th>
									<th>Contact Number</th>
									<th>Purpose </th>
									<th>Consultation Date </th>
									<th>Verified</th>
									<th>Assigned To</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for inquiry in new_inquiries %}
								<tr>
									<td>{{inquiry.first_name}} {{inquiry.last_name}}</td>
									<td>{{inquiry.contact}}</td>
									<td>{{inquiry.purpose}}</td>
									<td>{{inquiry.date}}</td>
									<td>{{inquiry.is_verified}}</td>
									<td>{{inquiry.assigned}}</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="d-flex">
												{% if 'read_inquiry' in permissions %}
												<a href="{% url 'view_inquiry' id=inquiry.id %}" class="btn btn-primary"><i class="material-icons">visibility</i></a>
												{% endif %}
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
