{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="app-content">
    <div class="content-wrapper">
		<!-- Page Header -->												
		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">Edit Stage</h1>
						</div>
						<p id="greeting"></p>

						<script>
							const now = new Date();
							const hour = now.getHours();
					
							let greeting;
					
							if (hour < 12) {
								greeting = "Good Morning";
							} else if (hour < 18) {
								greeting = "Good Afternoon";
							} else {
								greeting = "Good Evening";
							}
					
							document.getElementById("greeting").innerHTML = greeting + " {{request.user.first_name}}!";
						</script>
						
					</div>
					
				</div>
			</div>
		</div>	
		<div class="modal-content">
            <form action="{% url 'edit_stage' id=stage.id %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserModal">Update Stage</h5>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mb-3">
                        <label for="">Stage Name</label>
                        <input type="text" class="form-control"  placeholder="Initial" value = {{stage.stage}} name='lead_stage'>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
	
	</div>
</div>
{% include 'footer.html' %}