{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">

		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">CRM Leads</h1>
						</div>
						<p id="greeting"></p>

						<script>
							const now = new Date();
							const hour = now.getHours();
					
							let greeting;
					
							if (hour < 12) {
								greeting = "Good Morning";
							} else if (hour < 18) {
								greeting = "Good Afternoon";
							} else {
								greeting = "Good Evening";
							}
					
							document.getElementById("greeting").innerHTML = greeting + " {{request.user.first_name}}!";
						</script>
						
					</div>
					{% if 'create_leads' in permissions %}
					<div class="pg-header-action-wrap">
						<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">Create Lead</button>
					</div>
					<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModal" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<form action="{% url 'add_lead' %}" method="POST">
									{% csrf_token %}
									<div class="modal-header">
										<h5 class="modal-title" id="createUserModal">Create Lead</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">                                                                        
                                        <div class="row">
                                            <div class="col-xxl-6 mb-xxl-0 mb-4">
                                                <h6>Lead Title</h6>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name = "title" required>
                                                    </div>
                                            </div>
                                            <div class="col-xxl-6 mb-xxl-0 mb-4">
                                                <h6>Lead name</h6>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name = "lead_name" required>
                                                    </div>
                                            </div>
                                            <div class="col-xxl-6 mb-xxl-0 mb-4">
                                                <h6>Email</h6>
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" name = "email" required>
                                                    </div>
                                            </div>
                                            <div class="col-xxl-6 mb-xxl-0 mb-4">
                                                <h6>Address</h6>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name = "address" required>
                                                    </div>
                                            </div>
                                            <div class="col-xxl-6 mb-xxl-0 mb-4">
                                                <h6>Company Name</h6>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name = "company_name" required>
                                                    </div>
                                            </div>
                                            <div class="col-xxl-6 mb-xxl-0 mb-4">
                                                <h6>Contact Number</h6>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name = "contact" required>
                                                    </div>
                                            </div>
                                            
                                            <div class="col-xxl-6 mb-xxl-0 mb-4">
                                                <h6>Lead Stage</h6>
                                                    <div class="form-group">
                                                        <select class="form-select" name="stage" required="">
                                                            {% for stage in stage %}
                                                            <option value="{{stage.stage}}">{{stage.stage}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>  
                                            </div>
                                            <div class="col-xxl-6 mb-xxl-0 mb-4">
                                                <h6>Lead Stage</h6>
                                                    <div class="form-group">
                                                        <select class="form-select" name="source" required="">
                                                            {% for source in source %}
                                                            <option value="{{source.source}}">{{source.source}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>  
                                            </div>
                                            <div class="row">
                                                <div class="col-xxl-6 mb-xxl-0 mb-4">
                                                    <h6>Assign To</h6>
                                                    <div class="form-group">
                                                        <select class="form-select" multiple name="assigned_to" required="" >
                                                            {% for data_list in data_list %}
                                                                <option value="{{data_list.user.id}}">{{data_list.user.user.first_name}} {{data_list.user.user.last_name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xxl-12 mb-xxl-0 mb-4">
                                                <h6>Notes</h6>
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="6" placeholder="Write an internal note" name="notes" autocomplete="off"></textarea>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-primary">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>

		<!-- /Add other contents below -->
		<div class="container mt-5"></div>
			<ul class="nav nav-justified nav-light nav-tabs nav-segmented-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-bs-toggle="tab" href="#my_leads">
						<span class="nav-link-text">My Leads</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#active_leads">
						<span class="nav-link-text">Active Leads</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#closed_leads">
						<span class="nav-link-text">Closed Leads</span>
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="my_leads">
					<div class="row">
						<div class="table-responsive">
							<table class="table nowrap">
								<thead>
									<tr>
										<th class="mnw-150p">Title</th>
										<th class="mnw-150p">Name</th>
										<th class="mnw-200p">Email</th>
										<th class="mnw-150p">stage</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for my_leads in my_leads %}
									<tr>
										<td class="text-truncate">
											<div class="media align-items-center">
												<div class="media-head me-3">
													<div class="avatar avatar-xs">
														<img src="{% static 'user.png' %}" alt="user" class="avatar-img">
													</div>
												</div>
												<div class="media-body mnw-0">
													<a href="#" class="table-link-text text-high-em text-truncate mb-0">{{my_leads.title}}</a>
												</div>
											</div>
										</td>
										<td class="text-truncate">{{my_leads.lead_name}}</td>
										<td class="text-truncate">{{my_leads.email}}</td>
										<td><span class="badge badge-lg badge-light">{{my_leads.stage}}</span></td>
										
										<td>
											{% if 'create_leads' in permissions %}
											<div  class="d-flex align-items-center justify-content-end">
												<a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" href="{% url 'view_lead' id=my_leads.id %}"><span class="icon"><span class="feather-icon"><i data-feather="eye"></i></span></span></a>
											</div>
											
											{% else %}
											<p>---</p>
											{% endif %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						
					</div>
				</div>
				<div class="tab-pane fade" id="active_leads">
					<div class="row">
						<div class="table-responsive">
							<table class="table nowrap">
								<thead>
									<tr>
										<th class="mnw-150p">Title</th>
										<th class="mnw-150p">Name</th>
										<th class="mnw-200p">Email</th>
										<th class="mnw-150p">stage</th>
										<th class="mnw-150p">Assigned To</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for leads in leads %}
									<tr>
										<td class="text-truncate">
											<div class="media align-items-center">
												<div class="media-head me-3">
													<div class="avatar avatar-xs">
														<img src="{% static 'user.png' %}" alt="user" class="avatar-img">
													</div>
												</div>
												<div class="media-body mnw-0">
													<a href="#" class="table-link-text text-high-em text-truncate mb-0">{{leads.title}}</a>
												</div>
											</div>
										</td>
										<td class="text-truncate">{{leads.lead_name}}</td>
										<td class="text-truncate">{{leads.email}}</td>
										<td><span class="badge badge-lg badge-light">{{leads.stage}}</span></td>
										<td>
											{% for leads in leads.assigned_to.all %}
											<span class="badge badge-soft-primary mb-1">{{leads.user.first_name}} {{leads.user.last_name}}</span><br>
											{% endfor %}
										</td>
										<td>
											<div  class="d-flex align-items-center justify-content-end">
												<a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" href="{% url 'view_lead' id=leads.id %}"><span class="icon"><span class="feather-icon"><i data-feather="eye"></i></span></span></a>
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						
					</div>
				</div>
				<div class="tab-pane fade" id="closed_leads">
					<div class="row">
						<div class="table-responsive">
							<table class="table nowrap">
								<thead>
									<tr>
										<th class="mnw-150p">Title</th>
										<th class="mnw-150p">Name</th>
										<th class="mnw-200p">Email</th>
										<th class="mnw-150p">stage</th>
										<th class="mnw-150p">Assigned To</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for closed_leads in closed_leads %}
									<tr>
										<td class="text-truncate">
											<div class="media align-items-center">
												<div class="media-head me-3">
													<div class="avatar avatar-xs">
														<img src="{% static 'user.png' %}" alt="user" class="avatar-img">
													</div>
												</div>
												<div class="media-body mnw-0">
													<a href="#" class="table-link-text text-high-em text-truncate mb-0">{{closed_leads.title}}</a>
												</div>
											</div>
										</td>
										<td class="text-truncate">{{closed_leads.lead_name}}</td>
										<td class="text-truncate">{{closed_leads.email}}</td>
										<td><span class="badge badge-lg badge-light">{{closed_leads.stage}}</span></td>
										<td>
											{% for closed_leads in closed_leads.assigned_to.all %}
											<span class="badge badge-soft-primary mb-1">{{closed_leads.user.first_name}} {{closed_leads.user.last_name}}</span><br>
											{% endfor %}
										</td>
										<td>
											<div  class="d-flex align-items-center justify-content-end">
												<a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" href="{% url 'view_lead' id=closed_leads.id %}"><span class="icon"><span class="feather-icon"><i data-feather="eye"></i></span></span></a>
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
{% include 'footer.html' %}