 <!-- Javascripts -->
</div>
</div>
 {% load static %}
 <script src="{% static 'assets/plugins/jquery/jquery-3.5.1.min.js' %}"></script>
 <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
 <script src="{% static 'assets/plugins/perfectscroll/perfect-scrollbar.min.js' %}"></script>
 <script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>
 <script src="{% static 'assets/plugins/apexcharts/apexcharts.min.js' %}"></script>
 <script src="{% static 'assets/js/main.min.js' %}"></script>
 <script src="{% static 'assets/js/custom.js' %}"></script>
 <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>
 <script src="{% static 'assets/plugins/summernote/summernote-lite.min.js' %}"></script>
 <script src="{% static 'assets/js/pages/text-editor.js' %}"></script>
 <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
 <script src="{% static 'assets/plugins/highlight/highlight.pack.js' %}"></script>






</body>
</html>