{% load static %}
<body>
    {% include 'nav_links.html' %}
    <div class="app align-content-stretch d-flex flex-wrap">
        <div class="app-sidebar">
            <div class="logo">
                <a href="" class="logo-icon"><span class="logo-text">Neptune</span></a>
                <div class="sidebar-user-switcher user-activity-online">
                    <a href="#">
                        <img src="{{company.company_logo.url}}">
                        <span class="activity-indicator"></span>
                        <span class="user-info-text">Chloe<br><span class="user-state-info">On a call</span></span>
                    </a>
                </div>
            </div>
            <div class="app-menu">
                <ul class="accordion-menu">
                    <li class="sidebar-title">
                        Apps
                    </li>
                    <li class="active-page">
                        <a href="{% url 'home' %}" class="active"><i class="material-icons-two-tone">dashboard</i>Dashboard</a>
                    </li>
                    
                    
                    
                    
                    <li>
                        <a href=""><i class="material-icons-two-tone">settings</i>Settings<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'company_setup' %}">Company Setup</a>
                            </li>
                            <li>
                                <a href="{% url 'role' %}">Roles and Permission</a>
                            </li>
                            <li>
                                <a href="{% url 'crm_setup' %}">Crm setup</a>
                            </li>
                            <li>
                                <a href="{%url 'hrm_setup' %}">Hrm setup</a>
                            </li>
                            <li>
                                <a href="{% url 'add_course_category' %}">Course setup</a>
                            </li>
                            <li>
                                <a href="">Finance setup</a>
                            </li>
                            
                           
                        </ul>
                        <li>
                            <a href=""><i class="material-icons-two-tone">mode_comment</i>Mesaging<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="">Custom</a>
                                </li>
                                <li>
                                    <a href="">Employees/Customer</a>
                                </li>
                                
                                
                               
                            </ul>    
                    </li>
                    <li class="sidebar-title">
                        Features
                    </li>
                    <li>
                        <a href=""><i class="material-icons-two-tone">group</i>Roles and User<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'role' %}">Roles</a>
                            </li>
                            <li>
                                <a href="{% url 'company_user' %}">User</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="material-icons-two-tone">add_link</i>Crm system<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="">Leads</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="material-icons-two-tone">person_add</i>Hrm system<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'employees' %}">Employees</a>
                            </li>
                            <li>
                                <a href="{}">Employee attendance</a>
                            </li>
                            <li>
                                <a href="{}">Leave requests</a>
                            </li>
                            <li>
                                <a href="{}">Employee log report</a>
                            </li>
                            <li>
                                <a href="{}">Device attendance</a>
                            </li>
                            <li>
                                <a href="">Payroll</a>
                            </li>
                           
                            
                            
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="material-icons-two-tone">golf_course</i>Courses<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'add_course_category' %}">Add Course Category</a>
                            </li>
                            <li>
                                <a href="{% url 'courses' %}">Courses</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="material-icons-two-tone">emoji_people</i>Students<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'student_setup' %}">Student Setup</a>
                            </li>
                            <li>
                                <a href="{% url 'student' %}">Student</a>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="material-icons-two-tone">account_balance</i>Accounting<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="">Dashboard</a>
                            </li>
                            <li>
                                <a href="{% url 'student' %}">Student</a>

                            </li>
                            <li>
                                <a href="{% url 'invoice' %}">Invoice</a>
                            </li>
                            <li>
                                <a href="">Receipt</a>
                            </li>
                            <li>
                                <a href="">Expense</a>
                            </li>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="material-icons-two-tone">person</i>Work Profile<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            {% comment %} <li>
                                <a href="">Log Sheet</a>
                            </li> {% endcomment %}
                            <li>
                                <a href="">Leave</a>
                            </li>
                            <li>
                                <a href="">Pay Slip</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="material-icons-two-tone">done</i>Todo</a>
                    </li>
                   
                    
                    
                    
                </ul>
            </div>
        </div>
        <div class="app-container">
            <div class="app-header">
                <nav class="navbar navbar-light navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="navbar-nav" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link hide-sidebar-toggle-button" href="#"><i class="material-icons">first_page</i></a>
                                </li>
                                <li class="nav-item dropdown hidden-on-mobile">
                                    <a class="nav-link dropdown-toggle" href="#" id="addDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="material-icons">add</i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="addDropdownLink">
                                        <li><a class="dropdown-item" href="#">New Workspace</a></li>
                                        <li><a class="dropdown-item" href="#">New Board</a></li>
                                        <li><a class="dropdown-item" href="#">Create Project</a></li>
                                    </ul>
                                </li>
                            </ul>
            
                        </div>
                        <div class="d-flex">
                            <ul class="navbar-nav">
                                <li class="nav-item hidden-on-mobile">
                                    <a class="nav-link active" href="#">Applications</a>
                                </li>
                                <li class="nav-item hidden-on-mobile">
                                    <a class="nav-link" href="#">Reports</a>
                                </li>
                                <li class="nav-item hidden-on-mobile">
                                    <a class="nav-link" href="#">Projects</a>
                                </li>
                                <li class="nav-item hidden-on-mobile">
                                    <a class="nav-link nav-notifications-toggle" id="notificationsDropDown" href="#" data-bs-toggle="dropdown"><i class="material-icons">notifications</i>4</a>
                                    <div class="dropdown-menu dropdown-menu-end notifications-dropdown" aria-labelledby="notificationsDropDown">
                                        <h6 class="dropdown-header">Notifications</h6>
                                        <div class="notifications-dropdown-list">
                                            <a href="#">
                                                <div class="notifications-dropdown-item">
                                                    <div class="notifications-dropdown-item-image">
                                                        <span class="notifications-badge bg-info text-white">
                                                            <i class="material-icons-outlined">campaign</i>
                                                        </span>
                                                    </div>
                                                    <div class="notifications-dropdown-item-text">
                                                        <p class="bold-notifications-text">Donec tempus nisi sed erat vestibulum, eu suscipit ex laoreet</p>
                                                        <small>19:00</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notifications-dropdown-item">
                                                    <div class="notifications-dropdown-item-image">
                                                        <span class="notifications-badge bg-danger text-white">
                                                            <i class="material-icons-outlined">bolt</i>
                                                        </span>
                                                    </div>
                                                    <div class="notifications-dropdown-item-text">
                                                        <p class="bold-notifications-text">Quisque ligula dui, tincidunt nec pharetra eu, fringilla quis mauris</p>
                                                        <small>18:00</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notifications-dropdown-item">
                                                    <div class="notifications-dropdown-item-image">
                                                        <span class="notifications-badge bg-success text-white">
                                                            <i class="material-icons-outlined">alternate_email</i>
                                                        </span>
                                                    </div>
                                                    <div class="notifications-dropdown-item-text">
                                                        <p>Nulla id libero mattis justo euismod congue in et metus</p>
                                                        <small>yesterday</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notifications-dropdown-item">
                                                    <div class="notifications-dropdown-item-image">
                                                        <span class="notifications-badge">
                                                            <img src="../../assets/images/avatars/avatar.png" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="notifications-dropdown-item-text">
                                                        <p>Praesent sodales lobortis velit ac pellentesque</p>
                                                        <small>yesterday</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notifications-dropdown-item">
                                                    <div class="notifications-dropdown-item-image">
                                                        <span class="notifications-badge">
                                                            <img src="../../assets/images/avatars/avatar.png" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="notifications-dropdown-item-text">
                                                        <p>Praesent lacinia ante eget tristique mattis. Nam sollicitudin velit sit amet auctor porta</p>
                                                        <small>yesterday</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item hidden-on-mobile">
                                    <a class="nav-link" href="{% url 'logout' %}"><i class="material-icons">logout</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>


