{% include 'header.html' %}
            
<div class="app-content">
    <div class="content-wrapper">
        <div class="card container">
            <div class="row">
                <div class="col-11">
                    <div class="page-description">
                        <figure>
                            <blockquote class="blockquote">
                                <p>"{{random_quote}}"</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                               <cite title="Source Title">{{author}}</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-1">
                    <li class="nav-item hidden-on-mobile">
                        <a class="nav-link nav-notifications-toggle" id="notificationsDropDown" href="#" data-bs-toggle="dropdown">4</a>
                        <div class="dropdown-menu dropdown-menu-end notifications-dropdown" aria-labelledby="notificationsDropDown">
                            <h6 class="dropdown-header">Notifications</h6>
                            <div class="notifications-dropdown-list">
                                <a href="#">
                                    <div class="notifications-dropdown-item">
                                        <div class="notifications-dropdown-item-image">
                                            <span class="notifications-badge bg-info text-white">
                                                <i class="material-icons-outlined">campaign</i>
                                            </span>
                                        </div>
                                        <div class="notifications-dropdown-item-text">
                                            <p class="bold-notifications-text">Donec tempus nisi sed erat vestibulum, eu suscipit ex laoreet</p>
                                            <small>19:00</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="notifications-dropdown-item">
                                        <div class="notifications-dropdown-item-image">
                                            <span class="notifications-badge bg-danger text-white">
                                                <i class="material-icons-outlined">bolt</i>
                                            </span>
                                        </div>
                                        <div class="notifications-dropdown-item-text">
                                            <p class="bold-notifications-text">Quisque ligula dui, tincidunt nec pharetra eu, fringilla quis mauris</p>
                                            <small>18:00</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="notifications-dropdown-item">
                                        <div class="notifications-dropdown-item-image">
                                            <span class="notifications-badge bg-success text-white">
                                                <i class="material-icons-outlined">alternate_email</i>
                                            </span>
                                        </div>
                                        <div class="notifications-dropdown-item-text">
                                            <p>Nulla id libero mattis justo euismod congue in et metus</p>
                                            <small>yesterday</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="notifications-dropdown-item">
                                        <div class="notifications-dropdown-item-image">
                                            <span class="notifications-badge">
                                                <img src="../../assets/images/avatars/avatar.png" alt="">
                                            </span>
                                        </div>
                                        <div class="notifications-dropdown-item-text">
                                            <p>Praesent sodales lobortis velit ac pellentesque</p>
                                            <small>yesterday</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="notifications-dropdown-item">
                                        <div class="notifications-dropdown-item-image">
                                            <span class="notifications-badge">
                                                <img src="../../assets/images/avatars/avatar.png" alt="">
                                            </span>
                                        </div>
                                        <div class="notifications-dropdown-item-text">
                                            <p>Praesent lacinia ante eget tristique mattis. Nam sollicitudin velit sit amet auctor porta</p>
                                            <small>yesterday</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <div class="card widget widget-stats">
                        <div class="card-body">
                            <div class="widget-stats-container d-flex">
                                <div class="widget-stats-icon widget-stats-icon-primary">
                                    <i class="material-icons-outlined">paid</i>
                                </div>
                                <div class="widget-stats-content flex-fill">
                                    <span class="widget-stats-title">Total Invoice Amount</span>
                                    <span class="widget-stats-amount">Rs. {{invoice_amount}}</span>
                                    <span class="widget-stats-info">{{invoice_count}} Invoices Total</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card widget widget-stats">
                        <div class="card-body">
                            <div class="widget-stats-container d-flex">
                                <div class="widget-stats-icon widget-stats-icon-danger">
                                    <i class="material-icons-outlined">paid</i>
                                </div>
                                <div class="widget-stats-content flex-fill">
                                    <span class="widget-stats-title">Total receipt Amount</span>
                                    <span class="widget-stats-amount">Rs. {{receipt_amount}}</span>
                                    <span class="widget-stats-info">{{receipt_count}} Receipts Total</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card widget widget-stats">
                        <div class="card-body">
                            <div class="widget-stats-container d-flex">
                                <div class="widget-stats-icon widget-stats-icon-warning">
                                    <i class="material-icons-outlined">person</i>
                                </div>
                                <div class="widget-stats-content flex-fill">
                                    <span class="widget-stats-title">Active Students</span>
                                    <span class="widget-stats-amount">{{active_student_count}}</span>
                                    <span class="widget-stats-info">{{student_count}} Students Total</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card widget widget-stats-large">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="widget-stats-large-chart-container">
                                    <div class="card-header">
                                        <h5 class="card-title">Finance Chart<span class="badge badge-light badge-style-light">Yearly</span></h5>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="myChart"></canvas>
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                                        <script>
                                            // Define the data for Invoice, expense, and receipt
                                            const invoiceData = [{% for totals in totals_by_day %}{{ totals.invoice_total|default_if_none:0 }}{% if not forloop.last %}, {% endif %}{% endfor %}];
                                            const expenseData = [{% for totals in totals_by_day %}{{ totals.expense_total|default_if_none:0 }}{% if not forloop.last %}, {% endif %}{% endfor %}];
                                            const receiptData = [{% for totals in totals_by_day %}{{ totals.receipt_total|default_if_none:0 }}{% if not forloop.last %}, {% endif %}{% endfor %}];
                                          
                                            // Define the labels for the last 7 days
                                            const labels = [{% for totals in totals_by_day %}"{{ totals.date }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
                                          
                                            // Create the chart
                                            const ctx = document.getElementById('myChart').getContext('2d');
                                            const chart = new Chart(ctx, {
                                              type: 'bar',
                                              data: {
                                                labels: labels,
                                                datasets: [{
                                                  label: 'Invoice',
                                                  data: invoiceData,
                                                  backgroundColor: '#585858',
                                                }, {
                                                  label: 'Expense',
                                                  data: expenseData,
                                                  backgroundColor: '#007D88',
                                                }, {
                                                  label: 'Receipt',
                                                  data: receiptData,
                                                  backgroundColor: '#25cba1',
                                                }]
                                              },
                                              options: {
                                                responsive: true,
                                                scales: {
                                                  xAxes: [{
                                                    display: true,
                                                    scaleLabel: {
                                                      display: true,
                                                      labelString: 'Date'
                                                    }
                                                  }],
                                                  yAxes: [{
                                                    display: true,
                                                    scaleLabel: {
                                                      display: true,
                                                      labelString: 'Amount'
                                                    },
                                                    ticks: {
                                                      beginAtZero: true
                                                    }
                                                  }]
                                                }
                                              }
                                            });
                                          </script>
                                          
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card widget widget-list">
                                    <div class="card-header">
                                        <h5 class="card-title">Active Tasks<span class="badge badge-success badge-style-light">{{incomplete_todo_count}} total</span></h5>
                                    </div>
                                    <div class="card-body">
                                        {% if incomplete_todo %}
                                        <ul class="widget-list-content list-unstyled">
                                            {% for incomplete_todo in incomplete_todo %}
                                            <li class="widget-list-item widget-list-item-green">
                                                <span class="widget-list-item-icon"><i class="material-icons-outlined">article</i></span>
                                                <span class="widget-list-item-description">
                                                    <a href="{% url 'todo' %}" class="widget-list-item-description-title">
                                                        {{incomplete_todo.task_title}}
                                                    </a>
                                                    <span class="badge badge-style-light rounded-pill badge-info">{{incomplete_todo.priority}}</span>
                                                </span>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% else %}
                                        <h5>No active tasks at this moment.</h5>
                                        <p>You can always add one.</p>
                                        <a href="{% url 'todo' %}" class="btn btn-primary"><i class="material-icons">add</i>Add</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  
{% include 'footer.html' %}
