{% load static %}
{% include 'nav_links.html' %}

<body>
    <div class="app menu-off-canvas align-content-stretch d-flex flex-wrap">
        <div class="app-sidebar">
            <div class="logo d-flex align-items-center">
                <div class="row">
                    <div class="col-2">
                        <img src="{{company.company_logo.url}}" height="40">
                    </div>
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="sidebar-user-switcher user-activity-online">
                            
                            <a href="#">
                                <span class="user-info-text">@{{request.user.username}}<br><span class="user-state-info">{{request.user.first_name}} {{request.user.last_name}}</span></span>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="app-container">
            <div class="app-header">
                <nav class="navbar navbar-light navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="navbar-nav" id="navbarNav">
                            
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenteraction">
                                Change Password
                            </a>
                        </div>
                        <div class="d-flex">
                            <ul class="navbar-nav">
                                <li>
                                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModalCenterAddYear"><i class="material-icons">logout</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>











            <div class="modal fade" id="exampleModalCenteraction" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteraction" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Change Password</h5>
                        </div>
                        <form action="{% url 'change_student_password' %}" method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="col-md-12 mb-3">
                                    <label for="old_password">Current Password</label>
                                    <input type="password" class="form-control" placeholder="********" required id="old_password" name="old_password">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="new_password">New Password</label>
                                    <input type="password" class="form-control" placeholder="********" required id="new_password" name="new_password">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="new_password_1">Re-enter New Password</label>
                                    <input type="password" class="form-control" placeholder="********" required id="new_password_1" name="new_password_1">
                                </div>
                                <div id="error_message" style="color: red;"></div>
                                <a href="#" class="auth-forgot-password float-end">Forgot password?</a>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="submit_button">Submit</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            <script>
                                // Function to validate the password fields
                                function validatePassword() {
                                    var oldPassword = document.getElementById("old_password").value;
                                    var newPassword = document.getElementById("new_password").value;
                                    var newPassword1 = document.getElementById("new_password_1").value;
                                    var errorElement = document.getElementById("error_message");
                                    var submitButton = document.getElementById("submit_button");
                            
                                    // Reset error message
                                    errorElement.innerHTML = "";
                            
                                    // Check if new password is the same as the old password
                                    if (newPassword === oldPassword) {
                                        errorElement.innerHTML = "New password cannot be the same as the old password.";
                                        submitButton.disabled = true; // Disable the submit button
                                        return false;
                                    }
                            
                                    // Check if new password and re-entered password match
                                    if (newPassword !== newPassword1) {
                                        errorElement.innerHTML = "Passwords do not match.";
                                        submitButton.disabled = true; // Disable the submit button
                                        return false;
                                    }
                            
                                    // Check if new password is at least 8 characters long
                                    if (newPassword.length < 8) {
                                        errorElement.innerHTML = "Password should be at least 8 characters long.";
                                        submitButton.disabled = true; // Disable the submit button
                                        return false;
                                    }
                            
                                    submitButton.disabled = false; // Enable the submit button
                                    return true;
                                }
                            
                                // Event listeners for password fields
                                var oldPasswordInput = document.getElementById("old_password");
                                var newPasswordInput = document.getElementById("new_password");
                                var newPassword1Input = document.getElementById("new_password_1");
                            
                                oldPasswordInput.addEventListener("input", validatePassword);
                                newPasswordInput.addEventListener("input", validatePassword);
                                newPassword1Input.addEventListener("input", validatePassword);
                            </script>
                                
                                
                                
                        </form>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="exampleModalCenterAddYear" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterAddYear" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Hold on!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to logout?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">Yes</button></a>
                        </div>
                    </div>
                </div>
            </div>