{% load static %}
{% include 'nav_links.html' %}

<body>
    <div class="app menu-off-canvas align-content-stretch d-flex flex-wrap">
        <div class="app-sidebar">
            <div class="logo d-flex align-items-center">
                <div class="row">
                    <div class="col-2">
                        <img src="{{company.company_logo.url}}" height="40">
                    </div>
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="sidebar-user-switcher user-activity-online">
                            
                            <a href="#">
                                <span class="user-info-text">{{request.user.username}}<br><span class="user-state-info">{{request.user.first_name}} {{request.user.last_name}}</span></span>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="app-container">
            <div class="app-header">
                <nav class="navbar navbar-light navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="navbar-nav" id="navbarNav">
            
                        </div>
                        <div class="d-flex">
                            <ul class="navbar-nav">
                                <li>
                                    <a class="nav-link" href="{% url 'logout' %}"><i class="material-icons">logout</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            