{% load static %}{% include 'header.html' %}

		

		<!-- Main Content -->
<div class="hk-pg-wrapper">
    <div class="container-xxl">
        <!-- Page Header -->
        <div class="hk-pg-header pg-header-wth-tab pt-7">
            <div class="d-flex">
                <div class="d-flex flex-wrap justify-content-between flex-1">
                    <div class="mb-lg-0 mb-2 me-8">
                        <h1 class="pg-title">Welcome back</h1>
                        <p>Manage products.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="invoice-body mt-3">
			<div class="row">
				<table id="datable_1" class="table nowrap w-100 mb-5">
					<thead>
						<tr>
							<th>Title</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for course in courses %}
						<tr>
							<td>{{course.course_title}}</td>
                            <td>{{course.course_category}}</td>
                            <td>{{course.course_price}}</td>
                            
                            <td>
                                {% if 'update_course' in permissions %}
                                <a href="{% url 'edit_course' id=course.id %}" class="btn btn-icon btn-rounded btn-flush-primary flush-soft-hover" data-bs-toggle="tooltip" data-bs-original-title="Edit" ><span class="icon"><span class="feather-icon">Edit</span></span></a>
                                {% endif %}
                                {% if 'delete_course' in permissions %}
                                <a href="{% url 'delete_course' id=course.id %}" class="btn btn-icon btn-rounded btn-flush-danger flush-soft-hover" data-bs-toggle="tooltip" data-bs-original-title="Delete" ><span class="icon"><span class="feather-icon">Delete</span></span></a>
                                {% endif %}
                            </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>

	
	{% include 'footer.html' %}