{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Company Details</h1>
                        <span>These details are visible in invoice and receipts.</span>
                    </div>
                    <div class="page-description-actions">
                        
                        {% if 'manage_course' in permissions %}                              
                            <a data-bs-toggle="modal" data-bs-target="#exampleModalCenterAddCategory" class="btn btn-primary"><i class="material-icons">add</i>Add</a>
                            {% endif %}
                    </div>
                </div>
                
                <!-- add other contents  -->
                <div class="row">
                    <div class="flex">
                        <div class="table-responsive">
                            <table id="datatable2" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in category %}
                                    <tr>
                                        <td>{{category.course_category}}</td>
                                        {% if 'read_account' in permissions  %}
                                            <td class="text-right">
                                                {% if 'manage_course' in permissions %}
                                                <a href="{% url 'edit_course_category' id=category.id %}" class="btn btn-dark"><i class="material-icons">edit</i></a>
                                                {% endif %}
                                                {% if 'delete_course' in permissions %}
                                                <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModalCentercategoryDelete{{category.id}}"><i class="material-icons">delete</i></a>
                                                {% endif %}
                                            </td>
                                        {% else %}
                                            <td class="text-right">----</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
    
                            <style>
                                .text-right {
                                  text-align: right;
                                }
                              </style>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    .text-right {
      text-align: right;
    }
  </style>

<div class="modal fade" id="exampleModalCenterAddCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterAddCategory" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <form action="{% url 'add_course_category' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="col-md-12 mb-3">
                            <label for="">Category</label>
                            <input type="text" class="form-control"  placeholder="" name='course_category'>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
		</div>
	</div>
</div>			


{% for category in category %}
<div class="modal fade" id="exampleModalCentercategoryDelete{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCentercategoryDelete{{category.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{category.category}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_course_category' id=category.id %}"><button type="button" class="btn btn-primary">Delete</button></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% include 'footer.html' %}