{% include 'header.html' %}
<div class="app-content">
    <div class="content-wrapper">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="page-description d-flex align-items-center">
                    <div class="page-description-content flex-grow-1">
                        <h1>Company Details</h1>
                        <span>These details are visible in invoice and receipts.</span>
                    </div>
                </div>
                
                <!-- add other contents  -->
                <div class="container">
                    <form action="{% url 'edit_service' service.id %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">                                                                        
                            <div class="row">
                                <div class="col-xxl-6 mb-xxl-0 mb-4">
                                    <h6>Category</h6>
                                    <div class="form-group">
                                        <select class="form-select" name="service_category" required="">
                                            <option>Select Category</option>
                                            {% for category in category %}
                                            <option value="{{category.id}}" {% if category.course_category == service.service_category.course_category %}selected{% endif %} >{{category.course_category}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>  
                                </div>
                               
                                <div class="col-xxl-12 mb-xxl-0 mb-4">
                                    <h6>Title</h6>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{service.service_title}}" name = "service_title" required>
                                    </div>
                                </div>
        
                                <div class="col-xxl-12 mb-xxl-0 mb-4">
                                    <h6>Price</h6>
                                    <div class="form-group">
                                        <input type="number" class="form-control" value="{{service.service_price}}" name = "service_price" required>
                                    </div>
                                </div>
        
                                <div class="col-xxl-12 mb-xxl-0 mb-4">
                                    <h6>Description</h6>
                                    <div class="form-group">
                                        <textarea id="summernote" name="service_description" placeholder="Description">{{service.service_description}}</textarea>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>

                
                



            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}